//
// --------------------------------------------------
////////////////////////////////////////////////////////////////////////
// Global values Color /////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
// --------------------------------------------------
//

// Grays
// --------------------------------------------------
$gray-darker	= lighten(#000, 50%)
$gray-dark		= lighten(#000, 60%)
$gray			= lighten(#000, 75%)
$gray-light 	= lighten(#000, 87%)
$gray-lighter	= lighten(#000, 96%)

// Blanco
// --------------------------------------------------
$white = lighten(#000, 98%)


// Green (Verdes)
// --------------------------------------------------
$green			= #7AC143
$green-darker	= darken($green, 40%)
$green-dark		= darken($green, 20%)
$green-light	= lighten($green, 20%)
$green-lighter	= lighten($green, 40%)
// --------------------------------------------------


// Orange (Naranjas)
// --------------------------------------------------
$orange			= #FAA634
$orange-darker	= darken($orange, 40%)
$orange-dark	= darken($orange, 20%)
$orange-light	= lighten($orange, 20%)
$orange-lighter	= lighten($orange, 40%)
// --------------------------------------------------


// Yellow (Amarillos)
// --------------------------------------------------
$yellow			= yellow
$yellow-darker	= darken($yellow, 40%)
$yellow-dark	= darken($yellow, 20%)
$yellow-light	= lighten($yellow, 20%)
$yellow-lighter	= lighten($yellow, 40%)
// --------------------------------------------------


// Blues (Azules)
// --------------------------------------------------
$blue			= #008acc
$blue-darker	= darken($blue, 35%)
$blue-dark		= darken($blue, 15%)
$blue-light		= lighten($blue, 15%)
$blue-lighter	= lighten($blue, 35%)
// --------------------------------------------------


// Morado (purple)
// --------------------------------------------------
$purple			= #b429b9
$purple-darker	= darken($purple, 35%)
$purple-dark	= darken($purple, 15%)
$purple-light	= lighten($purple, 15%)
$purple-lighter	= lighten($purple, 35%)
// --------------------------------------------------


// Rojos (red)
// --------------------------------------------------
$red			= red
$red-darker		= darken($red, 35%)
$red-dark		= darken($red, 15%)
$red-light		= lighten($red, 25%)
$red-lighter	= lighten($red, 45%)
// --------------------------------------------------


// Brand colors
// --------------------------------------------------
$color-primary = $blue-lighter;		//Color de Marca - Primario
$color-success = $green-lighter;	//Color de Marca - Exito
$color-warning = $orange-lighter;	//Color de Marca - Alarma
$color-danger  = $red-lighter;		//Color de Marca - Peligro
$color-info    = $blue-lighter;		//Color de Marca - Informacion


