
// Font-faces
// -------------------------
$font-face-path = "stylus/fontfaces/"; //Ruta desde el bootstrap.styl
//STYLUS NO SOPORTA EL SIGNO + POR ESO TENEMOS QUE ESCAPARLO EN @IMPORT URL !!!!!
//Hay que escapar la '|' y el digno '+' y no poner "" entre la URL!! \|

// FUENTES "TRABAJA DESDE CASA" CABECERAS
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700)

// FUENTES "TRABAJA DESDE CASA" TEXTO
@import url(https://fonts.googleapis.com/css?family=Yanone\+Kaffeesatz:200,300,400,700)

// FUENTES PARA EL TEXTO:
//@import url(https://fonts.googleapis.com/css?family=Open\+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800\|Open\+Sans\+Condensed:300,300italic,700);
//@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900,100italic,300italic,400italic,700italic,900italic);

// FUENTE PARA CODIGO (MONOSPACE)
//@import url(https://fonts.googleapis.com/css?family=Ubuntu\+Mono:400,700)

// FUENTES PARA LOS HEADERS:
//@import url(https://fonts.googleapis.com/css?family=Poiret\+One\|Lobster)



