/* FONT PATH
 * -------------------------- */

@font-face
	font-family 'icon-awesome'
	src url('core/fonticons/awesome/fontawesome-webfont.eot?v=4.4.0')
	src url('core/fonticons/awesome/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
		url('core/fonticons/awesome/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
		url('core/fonticons/awesome/fontawesome-webfont.woff?v=4.4.0') format('woff'),
		url('core/fonticons/awesome/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
		url('core/fonticons/awesome/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg')
	font-style normal
	font-weight normal

// Catchall baseclass
.icon-awesome
	position relative
	top 0px
	display inline-block
	font normal normal normal 14px/1 'icon-awesome'
	font-size inherit
	text-rendering auto
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

////////// AWESOME 4.4 ////////////////
////////////////////////////////////////
.icon-awesome-glass
	&:before
		@extend .icon-awesome
		content: "\f000"

.icon-awesome-music
	&:before
		@extend .icon-awesome
		content: "\f001"

.icon-awesome-search
	&:before
		@extend .icon-awesome
		content: "\f002"

.icon-awesome-envelope-o
	&:before
		@extend .icon-awesome
		content: "\f003"

.icon-awesome-heart
	&:before
		@extend .icon-awesome
		content: "\f004"

.icon-awesome-star
	&:before
		@extend .icon-awesome
		content: "\f005"

.icon-awesome-star-o
	&:before
		@extend .icon-awesome
		content: "\f006"

.icon-awesome-user
	&:before
		@extend .icon-awesome
		content: "\f007"

.icon-awesome-film
	&:before
		@extend .icon-awesome
		content: "\f008"

.icon-awesome-th-large
	&:before
		@extend .icon-awesome
		content: "\f009"

.icon-awesome-th
	&:before
		@extend .icon-awesome
		content: "\f00a"

.icon-awesome-th-list
	&:before
		@extend .icon-awesome
		content: "\f00b"

.icon-awesome-check
	&:before
		@extend .icon-awesome
		content: "\f00c"

.icon-awesome-remove,
.icon-awesome-close,
.icon-awesome-times
	&:before
		@extend .icon-awesome
		content: "\f00d"

.icon-awesome-search-plus
	&:before
		@extend .icon-awesome
		content: "\f00e"

.icon-awesome-search-minus
	&:before
		@extend .icon-awesome
		content: "\f010"

.icon-awesome-power-off
	&:before
		@extend .icon-awesome
		content: "\f011"

.icon-awesome-signal
	&:before
		@extend .icon-awesome
		content: "\f012"

.icon-awesome-gear,
.icon-awesome-cog
	&:before
		@extend .icon-awesome
		content: "\f013"

.icon-awesome-trash-o
	&:before
		@extend .icon-awesome
		content: "\f014"

.icon-awesome-home
	&:before
		@extend .icon-awesome
		content: "\f015"

.icon-awesome-file-o
	&:before
		@extend .icon-awesome
		content: "\f016"

.icon-awesome-clock-o
	&:before
		@extend .icon-awesome
		content: "\f017"

.icon-awesome-road
	&:before
		@extend .icon-awesome
		content: "\f018"

.icon-awesome-download
	&:before
		@extend .icon-awesome
		content: "\f019"

.icon-awesome-arrow-circle-o-down
	&:before
		@extend .icon-awesome
		content: "\f01a"

.icon-awesome-arrow-circle-o-up
	&:before
		@extend .icon-awesome
		content: "\f01b"

.icon-awesome-inbox
	&:before
		@extend .icon-awesome
		content: "\f01c"

.icon-awesome-play-circle-o
	&:before
		@extend .icon-awesome
		content: "\f01d"

.icon-awesome-rotate-right,
.icon-awesome-repeat
	&:before
		@extend .icon-awesome
		content: "\f01e"

.icon-awesome-refresh
	&:before
		@extend .icon-awesome
		content: "\f021"

.icon-awesome-list-alt
	&:before
		@extend .icon-awesome
		content: "\f022"

.icon-awesome-lock
	&:before
		@extend .icon-awesome
		content: "\f023"

.icon-awesome-flag
	&:before
		@extend .icon-awesome
		content: "\f024"

.icon-awesome-headphones
	&:before
		@extend .icon-awesome
		content: "\f025"

.icon-awesome-volume-off
	&:before
		@extend .icon-awesome
		content: "\f026"

.icon-awesome-volume-down
	&:before
		@extend .icon-awesome
		content: "\f027"

.icon-awesome-volume-up
	&:before
		@extend .icon-awesome
		content: "\f028"

.icon-awesome-qrcode
	&:before
		@extend .icon-awesome
		content: "\f029"

.icon-awesome-barcode
	&:before
		@extend .icon-awesome
		content: "\f02a"

.icon-awesome-tag
	&:before
		@extend .icon-awesome
		content: "\f02b"

.icon-awesome-tags
	&:before
		@extend .icon-awesome
		content: "\f02c"

.icon-awesome-book
	&:before
		@extend .icon-awesome
		content: "\f02d"

.icon-awesome-bookmark
	&:before
		@extend .icon-awesome
		content: "\f02e"

.icon-awesome-print
	&:before
		@extend .icon-awesome
		content: "\f02f"

.icon-awesome-camera
	&:before
		@extend .icon-awesome
		content: "\f030"

.icon-awesome-font
	&:before
		@extend .icon-awesome
		content: "\f031"

.icon-awesome-bold
	&:before
		@extend .icon-awesome
		content: "\f032"

.icon-awesome-italic
	&:before
		@extend .icon-awesome
		content: "\f033"

.icon-awesome-text-height
	&:before
		@extend .icon-awesome
		content: "\f034"

.icon-awesome-text-width
	&:before
		@extend .icon-awesome
		content: "\f035"

.icon-awesome-align-left
	&:before
		@extend .icon-awesome
		content: "\f036"

.icon-awesome-align-center
	&:before
		@extend .icon-awesome
		content: "\f037"

.icon-awesome-align-right
	&:before
		@extend .icon-awesome
		content: "\f038"

.icon-awesome-align-justify
	&:before
		@extend .icon-awesome
		content: "\f039"

.icon-awesome-list
	&:before
		@extend .icon-awesome
		content: "\f03a"

.icon-awesome-dedent,
.icon-awesome-outdent
	&:before
		@extend .icon-awesome
		content: "\f03b"

.icon-awesome-indent
	&:before
		@extend .icon-awesome
		content: "\f03c"

.icon-awesome-video-camera
	&:before
		@extend .icon-awesome
		content: "\f03d"

.icon-awesome-photo,
.icon-awesome-image,
.icon-awesome-picture-o
	&:before
		@extend .icon-awesome
		content: "\f03e"

.icon-awesome-pencil
	&:before
		@extend .icon-awesome
		content: "\f040"

.icon-awesome-map-marker
	&:before
		@extend .icon-awesome
		content: "\f041"

.icon-awesome-adjust
	&:before
		@extend .icon-awesome
		content: "\f042"

.icon-awesome-tint
	&:before
		@extend .icon-awesome
		content: "\f043"

.icon-awesome-edit,
.icon-awesome-pencil-square-o
	&:before
		@extend .icon-awesome
		content: "\f044"

.icon-awesome-share-square-o
	&:before
		@extend .icon-awesome
		content: "\f045"

.icon-awesome-check-square-o
	&:before
		@extend .icon-awesome
		content: "\f046"

.icon-awesome-arrows
	&:before
		@extend .icon-awesome
		content: "\f047"

.icon-awesome-step-backward
	&:before
		@extend .icon-awesome
		content: "\f048"

.icon-awesome-fast-backward
	&:before
		@extend .icon-awesome
		content: "\f049"

.icon-awesome-backward
	&:before
		@extend .icon-awesome
		content: "\f04a"

.icon-awesome-play
	&:before
		@extend .icon-awesome
		content: "\f04b"

.icon-awesome-pause
	&:before
		@extend .icon-awesome
		content: "\f04c"

.icon-awesome-stop
	&:before
		@extend .icon-awesome
		content: "\f04d"

.icon-awesome-forward
	&:before
		@extend .icon-awesome
		content: "\f04e"

.icon-awesome-fast-forward
	&:before
		@extend .icon-awesome
		content: "\f050"

.icon-awesome-step-forward
	&:before
		@extend .icon-awesome
		content: "\f051"

.icon-awesome-eject
	&:before
		@extend .icon-awesome
		content: "\f052"

.icon-awesome-chevron-left
	&:before
		@extend .icon-awesome
		content: "\f053"

.icon-awesome-chevron-right
	&:before
		@extend .icon-awesome
		content: "\f054"

.icon-awesome-plus-circle
	&:before
		@extend .icon-awesome
		content: "\f055"

.icon-awesome-minus-circle
	&:before
		@extend .icon-awesome
		content: "\f056"

.icon-awesome-times-circle
	&:before
		@extend .icon-awesome
		content: "\f057"

.icon-awesome-check-circle
	&:before
		@extend .icon-awesome
		content: "\f058"

.icon-awesome-question-circle
	&:before
		@extend .icon-awesome
		content: "\f059"

.icon-awesome-info-circle
	&:before
		@extend .icon-awesome
		content: "\f05a"

.icon-awesome-crosshairs
	&:before
		@extend .icon-awesome
		content: "\f05b"

.icon-awesome-times-circle-o
	&:before
		@extend .icon-awesome
		content: "\f05c"

.icon-awesome-check-circle-o
	&:before
		@extend .icon-awesome
		content: "\f05d"

.icon-awesome-ban
	&:before
		@extend .icon-awesome
		content: "\f05e"

.icon-awesome-arrow-left
	&:before
		@extend .icon-awesome
		content: "\f060"

.icon-awesome-arrow-right
	&:before
		@extend .icon-awesome
		content: "\f061"

.icon-awesome-arrow-up
	&:before
		@extend .icon-awesome
		content: "\f062"

.icon-awesome-arrow-down
	&:before
		@extend .icon-awesome
		content: "\f063"

.icon-awesome-mail-forward,
.icon-awesome-share
	&:before
		@extend .icon-awesome
		content: "\f064"

.icon-awesome-expand
	&:before
		@extend .icon-awesome
		content: "\f065"

.icon-awesome-compress
	&:before
		@extend .icon-awesome
		content: "\f066"

.icon-awesome-plus
	&:before
		@extend .icon-awesome
		content: "\f067"

.icon-awesome-minus
	&:before
		@extend .icon-awesome
		content: "\f068"

.icon-awesome-asterisk
	&:before
		@extend .icon-awesome
		content: "\f069"

.icon-awesome-exclamation-circle
	&:before
		@extend .icon-awesome
		content: "\f06a"

.icon-awesome-gift
	&:before
		@extend .icon-awesome
		content: "\f06b"

.icon-awesome-leaf
	&:before
		@extend .icon-awesome
		content: "\f06c"

.icon-awesome-fire
	&:before
		@extend .icon-awesome
		content: "\f06d"

.icon-awesome-eye
	&:before
		@extend .icon-awesome
		content: "\f06e"

.icon-awesome-eye-slash
	&:before
		@extend .icon-awesome
		content: "\f070"

.icon-awesome-warning,
.icon-awesome-exclamation-triangle
	&:before
		@extend .icon-awesome
		content: "\f071"

.icon-awesome-plane
	&:before
		@extend .icon-awesome
		content: "\f072"

.icon-awesome-calendar
	&:before
		@extend .icon-awesome
		content: "\f073"

.icon-awesome-random
	&:before
		@extend .icon-awesome
		content: "\f074"

.icon-awesome-comment
	&:before
		@extend .icon-awesome
		content: "\f075"

.icon-awesome-magnet
	&:before
		@extend .icon-awesome
		content: "\f076"

.icon-awesome-chevron-up
	&:before
		@extend .icon-awesome
		content: "\f077"

.icon-awesome-chevron-down
	&:before
		@extend .icon-awesome
		content: "\f078"

.icon-awesome-retweet
	&:before
		@extend .icon-awesome
		content: "\f079"

.icon-awesome-shopping-cart
	&:before
		@extend .icon-awesome
		content: "\f07a"

.icon-awesome-folder
	&:before
		@extend .icon-awesome
		content: "\f07b"

.icon-awesome-folder-open
	&:before
		@extend .icon-awesome
		content: "\f07c"

.icon-awesome-arrows-v
	&:before
		@extend .icon-awesome
		content: "\f07d"

.icon-awesome-arrows-h
	&:before
		@extend .icon-awesome
		content: "\f07e"

.icon-awesome-bar-chart-o,
.icon-awesome-bar-chart
	&:before
		@extend .icon-awesome
		content: "\f080"

.icon-awesome-twitter-square
	&:before
		@extend .icon-awesome
		content: "\f081"

.icon-awesome-facebook-square
	&:before
		@extend .icon-awesome
		content: "\f082"

.icon-awesome-camera-retro
	&:before
		@extend .icon-awesome
		content: "\f083"

.icon-awesome-key
	&:before
		@extend .icon-awesome
		content: "\f084"

.icon-awesome-gears,
.icon-awesome-cogs
	&:before
		@extend .icon-awesome
		content: "\f085"

.icon-awesome-comments
	&:before
		@extend .icon-awesome
		content: "\f086"

.icon-awesome-thumbs-o-up
	&:before
		@extend .icon-awesome
		content: "\f087"

.icon-awesome-thumbs-o-down
	&:before
		@extend .icon-awesome
		content: "\f088"

.icon-awesome-star-half
	&:before
		@extend .icon-awesome
		content: "\f089"

.icon-awesome-heart-o
	&:before
		@extend .icon-awesome
		content: "\f08a"

.icon-awesome-sign-out
	&:before
		@extend .icon-awesome
		content: "\f08b"

.icon-awesome-linkedin-square
	&:before
		@extend .icon-awesome
		content: "\f08c"

.icon-awesome-thumb-tack
	&:before
		@extend .icon-awesome
		content: "\f08d"

.icon-awesome-external-link
	&:before
		@extend .icon-awesome
		content: "\f08e"

.icon-awesome-sign-in
	&:before
		@extend .icon-awesome
		content: "\f090"

.icon-awesome-trophy
	&:before
		@extend .icon-awesome
		content: "\f091"

.icon-awesome-github-square
	&:before
		@extend .icon-awesome
		content: "\f092"

.icon-awesome-upload
	&:before
		@extend .icon-awesome
		content: "\f093"

.icon-awesome-lemon-o
	&:before
		@extend .icon-awesome
		content: "\f094"

.icon-awesome-phone
	&:before
		@extend .icon-awesome
		content: "\f095"

.icon-awesome-square-o
	&:before
		@extend .icon-awesome
		content: "\f096"

.icon-awesome-bookmark-o
	&:before
		@extend .icon-awesome
		content: "\f097"

.icon-awesome-phone-square
	&:before
		@extend .icon-awesome
		content: "\f098"

.icon-awesome-twitter
	&:before
		@extend .icon-awesome
		content: "\f099"

.icon-awesome-facebook-f,
.icon-awesome-facebook
	&:before
		@extend .icon-awesome
		content: "\f09a"

.icon-awesome-github
	&:before
		@extend .icon-awesome
		content: "\f09b"

.icon-awesome-unlock
	&:before
		@extend .icon-awesome
		content: "\f09c"

.icon-awesome-credit-card
	&:before
		@extend .icon-awesome
		content: "\f09d"

.icon-awesome-feed,
.icon-awesome-rss
	&:before
		@extend .icon-awesome
		content: "\f09e"

.icon-awesome-hdd-o
	&:before
		@extend .icon-awesome
		content: "\f0a0"

.icon-awesome-bullhorn
	&:before
		@extend .icon-awesome
		content: "\f0a1"

.icon-awesome-bell
	&:before
		@extend .icon-awesome
		content: "\f0f3"

.icon-awesome-certificate
	&:before
		@extend .icon-awesome
		content: "\f0a3"

.icon-awesome-hand-o-right
	&:before
		@extend .icon-awesome
		content: "\f0a4"

.icon-awesome-hand-o-left
	&:before
		@extend .icon-awesome
		content: "\f0a5"

.icon-awesome-hand-o-up
	&:before
		@extend .icon-awesome
		content: "\f0a6"

.icon-awesome-hand-o-down
	&:before
		@extend .icon-awesome
		content: "\f0a7"

.icon-awesome-arrow-circle-left
	&:before
		@extend .icon-awesome
		content: "\f0a8"

.icon-awesome-arrow-circle-right
	&:before
		@extend .icon-awesome
		content: "\f0a9"

.icon-awesome-arrow-circle-up
	&:before
		@extend .icon-awesome
		content: "\f0aa"

.icon-awesome-arrow-circle-down
	&:before
		@extend .icon-awesome
		content: "\f0ab"

.icon-awesome-globe
	&:before
		@extend .icon-awesome
		content: "\f0ac"

.icon-awesome-wrench
	&:before
		@extend .icon-awesome
		content: "\f0ad"

.icon-awesome-tasks
	&:before
		@extend .icon-awesome
		content: "\f0ae"

.icon-awesome-filter
	&:before
		@extend .icon-awesome
		content: "\f0b0"

.icon-awesome-briefcase
	&:before
		@extend .icon-awesome
		content: "\f0b1"

.icon-awesome-arrows-alt
	&:before
		@extend .icon-awesome
		content: "\f0b2"

.icon-awesome-group,
.icon-awesome-users
	&:before
		@extend .icon-awesome
		content: "\f0c0"

.icon-awesome-chain,
.icon-awesome-link
	&:before
		@extend .icon-awesome
		content: "\f0c1"

.icon-awesome-cloud
	&:before
		@extend .icon-awesome
		content: "\f0c2"

.icon-awesome-flask
	&:before
		@extend .icon-awesome
		content: "\f0c3"

.icon-awesome-cut,
.icon-awesome-scissors
	&:before
		@extend .icon-awesome
		content: "\f0c4"

.icon-awesome-copy,
.icon-awesome-files-o
	&:before
		@extend .icon-awesome
		content: "\f0c5"

.icon-awesome-paperclip
	&:before
		@extend .icon-awesome
		content: "\f0c6"

.icon-awesome-save,
.icon-awesome-floppy-o
	&:before
		@extend .icon-awesome
		content: "\f0c7"

.icon-awesome-square
	&:before
		@extend .icon-awesome
		content: "\f0c8"

.icon-awesome-navicon,
.icon-awesome-reorder,
.icon-awesome-bars
	&:before
		@extend .icon-awesome
		content: "\f0c9"

.icon-awesome-list-ul
	&:before
		@extend .icon-awesome
		content: "\f0ca"

.icon-awesome-list-ol
	&:before
		@extend .icon-awesome
		content: "\f0cb"

.icon-awesome-strikethrough
	&:before
		@extend .icon-awesome
		content: "\f0cc"

.icon-awesome-underline
	&:before
		@extend .icon-awesome
		content: "\f0cd"

.icon-awesome-table
	&:before
		@extend .icon-awesome
		content: "\f0ce"

.icon-awesome-magic
	&:before
		@extend .icon-awesome
		content: "\f0d0"

.icon-awesome-truck
	&:before
		@extend .icon-awesome
		content: "\f0d1"

.icon-awesome-pinterest
	&:before
		@extend .icon-awesome
		content: "\f0d2"

.icon-awesome-pinterest-square
	&:before
		@extend .icon-awesome
		content: "\f0d3"

.icon-awesome-google-plus-square
	&:before
		@extend .icon-awesome
		content: "\f0d4"

.icon-awesome-google-plus
	&:before
		@extend .icon-awesome
		content: "\f0d5"

.icon-awesome-money
	&:before
		@extend .icon-awesome
		content: "\f0d6"

.icon-awesome-caret-down
	&:before
		@extend .icon-awesome
		content: "\f0d7"

.icon-awesome-caret-up
	&:before
		@extend .icon-awesome
		content: "\f0d8"

.icon-awesome-caret-left
	&:before
		@extend .icon-awesome
		content: "\f0d9"

.icon-awesome-caret-right
	&:before
		@extend .icon-awesome
		content: "\f0da"

.icon-awesome-columns
	&:before
		@extend .icon-awesome
		content: "\f0db"

.icon-awesome-unsorted,
.icon-awesome-sort
	&:before
		@extend .icon-awesome
		content: "\f0dc"

.icon-awesome-sort-down,
.icon-awesome-sort-desc
	&:before
		@extend .icon-awesome
		content: "\f0dd"

.icon-awesome-sort-up,
.icon-awesome-sort-asc
	&:before
		@extend .icon-awesome
		content: "\f0de"

.icon-awesome-envelope
	&:before
		@extend .icon-awesome
		content: "\f0e0"

.icon-awesome-linkedin
	&:before
		@extend .icon-awesome
		content: "\f0e1"

.icon-awesome-rotate-left,
.icon-awesome-undo
	&:before
		@extend .icon-awesome
		content: "\f0e2"

.icon-awesome-legal,
.icon-awesome-gavel
	&:before
		@extend .icon-awesome
		content: "\f0e3"

.icon-awesome-dashboard,
.icon-awesome-tachometer
	&:before
		@extend .icon-awesome
		content: "\f0e4"

.icon-awesome-comment-o
	&:before
		@extend .icon-awesome
		content: "\f0e5"

.icon-awesome-comments-o
	&:before
		@extend .icon-awesome
		content: "\f0e6"

.icon-awesome-flash,
.icon-awesome-bolt
	&:before
		@extend .icon-awesome
		content: "\f0e7"

.icon-awesome-sitemap
	&:before
		@extend .icon-awesome
		content: "\f0e8"

.icon-awesome-umbrella
	&:before
		@extend .icon-awesome
		content: "\f0e9"

.icon-awesome-paste,
.icon-awesome-clipboard
	&:before
		@extend .icon-awesome
		content: "\f0ea"

.icon-awesome-lightbulb-o
	&:before
		@extend .icon-awesome
		content: "\f0eb"

.icon-awesome-exchange
	&:before
		@extend .icon-awesome
		content: "\f0ec"

.icon-awesome-cloud-download
	&:before
		@extend .icon-awesome
		content: "\f0ed"

.icon-awesome-cloud-upload
	&:before
		@extend .icon-awesome
		content: "\f0ee"

.icon-awesome-user-md
	&:before
		@extend .icon-awesome
		content: "\f0f0"

.icon-awesome-stethoscope
	&:before
		@extend .icon-awesome
		content: "\f0f1"

.icon-awesome-suitcase
	&:before
		@extend .icon-awesome
		content: "\f0f2"

.icon-awesome-bell-o
	&:before
		@extend .icon-awesome
		content: "\f0a2"

.icon-awesome-coffee
	&:before
		@extend .icon-awesome
		content: "\f0f4"

.icon-awesome-cutlery
	&:before
		@extend .icon-awesome
		content: "\f0f5"

.icon-awesome-file-text-o
	&:before
		@extend .icon-awesome
		content: "\f0f6"

.icon-awesome-building-o
	&:before
		@extend .icon-awesome
		content: "\f0f7"

.icon-awesome-hospital-o
	&:before
		@extend .icon-awesome
		content: "\f0f8"

.icon-awesome-ambulance
	&:before
		@extend .icon-awesome
		content: "\f0f9"

.icon-awesome-medkit
	&:before
		@extend .icon-awesome
		content: "\f0fa"

.icon-awesome-fighter-jet
	&:before
		@extend .icon-awesome
		content: "\f0fb"

.icon-awesome-beer
	&:before
		@extend .icon-awesome
		content: "\f0fc"

.icon-awesome-h-square
	&:before
		@extend .icon-awesome
		content: "\f0fd"

.icon-awesome-plus-square
	&:before
		@extend .icon-awesome
		content: "\f0fe"

.icon-awesome-angle-double-left
	&:before
		@extend .icon-awesome
		content: "\f100"

.icon-awesome-angle-double-right
	&:before
		@extend .icon-awesome
		content: "\f101"

.icon-awesome-angle-double-up
	&:before
		@extend .icon-awesome
		content: "\f102"

.icon-awesome-angle-double-down
	&:before
		@extend .icon-awesome
		content: "\f103"

.icon-awesome-angle-left
	&:before
		@extend .icon-awesome
		content: "\f104"

.icon-awesome-angle-right
	&:before
		@extend .icon-awesome
		content: "\f105"

.icon-awesome-angle-up
	&:before
		@extend .icon-awesome
		content: "\f106"

.icon-awesome-angle-down
	&:before
		@extend .icon-awesome
		content: "\f107"

.icon-awesome-desktop
	&:before
		@extend .icon-awesome
		content: "\f108"

.icon-awesome-laptop
	&:before
		@extend .icon-awesome
		content: "\f109"

.icon-awesome-tablet
	&:before
		@extend .icon-awesome
		content: "\f10a"

.icon-awesome-mobile-phone,
.icon-awesome-mobile
	&:before
		@extend .icon-awesome
		content: "\f10b"

.icon-awesome-circle-o
	&:before
		@extend .icon-awesome
		content: "\f10c"

.icon-awesome-quote-left
	&:before
		@extend .icon-awesome
		content: "\f10d"

.icon-awesome-quote-right
	&:before
		@extend .icon-awesome
		content: "\f10e"

.icon-awesome-spinner
	&:before
		@extend .icon-awesome
		content: "\f110"

.icon-awesome-spinner-pulse
	&:before
		@extend .icon-awesome
		content: "\f110"
		animation: spin 1s infinite steps(8)

.icon-awesome-circle
	&:before
		@extend .icon-awesome
		content: "\f111"

.icon-awesome-mail-reply,
.icon-awesome-reply
	&:before
		@extend .icon-awesome
		content: "\f112"

.icon-awesome-github-alt
	&:before
		@extend .icon-awesome
		content: "\f113"

.icon-awesome-folder-o
	&:before
		@extend .icon-awesome
		content: "\f114"

.icon-awesome-folder-open-o
	&:before
		@extend .icon-awesome
		content: "\f115"

.icon-awesome-smile-o
	&:before
		@extend .icon-awesome
		content: "\f118"

.icon-awesome-frown-o
	&:before
		@extend .icon-awesome
		content: "\f119"

.icon-awesome-meh-o
	&:before
		@extend .icon-awesome
		content: "\f11a"

.icon-awesome-gamepad
	&:before
		@extend .icon-awesome
		content: "\f11b"

.icon-awesome-keyboard-o
	&:before
		@extend .icon-awesome
		content: "\f11c"

.icon-awesome-flag-o
	&:before
		@extend .icon-awesome
		content: "\f11d"

.icon-awesome-flag-checkered
	&:before
		@extend .icon-awesome
		content: "\f11e"

.icon-awesome-terminal
	&:before
		@extend .icon-awesome
		content: "\f120"

.icon-awesome-code
	&:before
		@extend .icon-awesome
		content: "\f121"

.icon-awesome-mail-reply-all,
.icon-awesome-reply-all
	&:before
		@extend .icon-awesome
		content: "\f122"

.icon-awesome-star-half-empty,
.icon-awesome-star-half-full,
.icon-awesome-star-half-o
	&:before
		@extend .icon-awesome
		content: "\f123"

.icon-awesome-location-arrow
	&:before
		@extend .icon-awesome
		content: "\f124"

.icon-awesome-crop
	&:before
		@extend .icon-awesome
		content: "\f125"

.icon-awesome-code-fork
	&:before
		@extend .icon-awesome
		content: "\f126"

.icon-awesome-unlink,
.icon-awesome-chain-broken
	&:before
		@extend .icon-awesome
		content: "\f127"

.icon-awesome-question
	&:before
		@extend .icon-awesome
		content: "\f128"

.icon-awesome-info
	&:before
		@extend .icon-awesome
		content: "\f129"

.icon-awesome-exclamation
	&:before
		@extend .icon-awesome
		content: "\f12a"

.icon-awesome-superscript
	&:before
		@extend .icon-awesome
		content: "\f12b"

.icon-awesome-subscript
	&:before
		@extend .icon-awesome
		content: "\f12c"

.icon-awesome-eraser
	&:before
		@extend .icon-awesome
		content: "\f12d"

.icon-awesome-puzzle-piece
	&:before
		@extend .icon-awesome
		content: "\f12e"

.icon-awesome-microphone
	&:before
		@extend .icon-awesome
		content: "\f130"

.icon-awesome-microphone-slash
	&:before
		@extend .icon-awesome
		content: "\f131"

.icon-awesome-shield
	&:before
		@extend .icon-awesome
		content: "\f132"

.icon-awesome-calendar-o
	&:before
		@extend .icon-awesome
		content: "\f133"

.icon-awesome-fire-extinguisher
	&:before
		@extend .icon-awesome
		content: "\f134"

.icon-awesome-rocket
	&:before
		@extend .icon-awesome
		content: "\f135"

.icon-awesome-maxcdn
	&:before
		@extend .icon-awesome
		content: "\f136"

.icon-awesome-chevron-circle-left
	&:before
		@extend .icon-awesome
		content: "\f137"

.icon-awesome-chevron-circle-right
	&:before
		@extend .icon-awesome
		content: "\f138"

.icon-awesome-chevron-circle-up
	&:before
		@extend .icon-awesome
		content: "\f139"

.icon-awesome-chevron-circle-down
	&:before
		@extend .icon-awesome
		content: "\f13a"

.icon-awesome-html5
	&:before
		@extend .icon-awesome
		content: "\f13b"

.icon-awesome-css3
	&:before
		@extend .icon-awesome
		content: "\f13c"

.icon-awesome-anchor
	&:before
		@extend .icon-awesome
		content: "\f13d"

.icon-awesome-unlock-alt
	&:before
		@extend .icon-awesome
		content: "\f13e"

.icon-awesome-bullseye
	&:before
		@extend .icon-awesome
		content: "\f140"

.icon-awesome-ellipsis-h
	&:before
		@extend .icon-awesome
		content: "\f141"

.icon-awesome-ellipsis-v
	&:before
		@extend .icon-awesome
		content: "\f142"

.icon-awesome-rss-square
	&:before
		@extend .icon-awesome
		content: "\f143"

.icon-awesome-play-circle
	&:before
		@extend .icon-awesome
		content: "\f144"

.icon-awesome-ticket
	&:before
		@extend .icon-awesome
		content: "\f145"

.icon-awesome-minus-square
	&:before
		@extend .icon-awesome
		content: "\f146"

.icon-awesome-minus-square-o
	&:before
		@extend .icon-awesome
		content: "\f147"

.icon-awesome-level-up
	&:before
		@extend .icon-awesome
		content: "\f148"

.icon-awesome-level-down
	&:before
		@extend .icon-awesome
		content: "\f149"

.icon-awesome-check-square
	&:before
		@extend .icon-awesome
		content: "\f14a"

.icon-awesome-pencil-square
	&:before
		@extend .icon-awesome
		content: "\f14b"

.icon-awesome-external-link-square
	&:before
		@extend .icon-awesome
		content: "\f14c"

.icon-awesome-share-square
	&:before
		@extend .icon-awesome
		content: "\f14d"

.icon-awesome-compass
	&:before
		@extend .icon-awesome
		content: "\f14e"

.icon-awesome-toggle-down,
.icon-awesome-caret-square-o-down
	&:before
		@extend .icon-awesome
		content: "\f150"

.icon-awesome-toggle-up,
.icon-awesome-caret-square-o-up
	&:before
		@extend .icon-awesome
		content: "\f151"

.icon-awesome-toggle-right,
.icon-awesome-caret-square-o-right
	&:before
		@extend .icon-awesome
		content: "\f152"

.icon-awesome-euro,
.icon-awesome-eur
	&:before
		@extend .icon-awesome
		content: "\f153"

.icon-awesome-gbp
	&:before
		@extend .icon-awesome
		content: "\f154"

.icon-awesome-dollar,
.icon-awesome-usd
	&:before
		@extend .icon-awesome
		content: "\f155"

.icon-awesome-rupee,
.icon-awesome-inr
	&:before
		@extend .icon-awesome
		content: "\f156"

.icon-awesome-cny,
.icon-awesome-rmb,
.icon-awesome-yen,
.icon-awesome-jpy
	&:before
		@extend .icon-awesome
		content: "\f157"

.icon-awesome-ruble,
.icon-awesome-rouble,
.icon-awesome-rub
	&:before
		@extend .icon-awesome
		content: "\f158"

.icon-awesome-won,
.icon-awesome-krw
	&:before
		@extend .icon-awesome
		content: "\f159"

.icon-awesome-bitcoin,
.icon-awesome-btc
	&:before
		@extend .icon-awesome
		content: "\f15a"

.icon-awesome-file
	&:before
		@extend .icon-awesome
		content: "\f15b"

.icon-awesome-file-text
	&:before
		@extend .icon-awesome
		content: "\f15c"

.icon-awesome-sort-alpha-asc
	&:before
		@extend .icon-awesome
		content: "\f15d"

.icon-awesome-sort-alpha-desc
	&:before
		@extend .icon-awesome
		content: "\f15e"

.icon-awesome-sort-amount-asc
	&:before
		@extend .icon-awesome
		content: "\f160"

.icon-awesome-sort-amount-desc
	&:before
		@extend .icon-awesome
		content: "\f161"

.icon-awesome-sort-numeric-asc
	&:before
		@extend .icon-awesome
		content: "\f162"

.icon-awesome-sort-numeric-desc
	&:before
		@extend .icon-awesome
		content: "\f163"

.icon-awesome-thumbs-up
	&:before
		@extend .icon-awesome
		content: "\f164"

.icon-awesome-thumbs-down
	&:before
		@extend .icon-awesome
		content: "\f165"

.icon-awesome-youtube-square
	&:before
		@extend .icon-awesome
		content: "\f166"

.icon-awesome-youtube
	&:before
		@extend .icon-awesome
		content: "\f167"

.icon-awesome-xing
	&:before
		@extend .icon-awesome
		content: "\f168"

.icon-awesome-xing-square
	&:before
		@extend .icon-awesome
		content: "\f169"

.icon-awesome-youtube-play
	&:before
		@extend .icon-awesome
		content: "\f16a"

.icon-awesome-dropbox
	&:before
		@extend .icon-awesome
		content: "\f16b"

.icon-awesome-stack-overflow
	&:before
		@extend .icon-awesome
		content: "\f16c"

.icon-awesome-instagram
	&:before
		@extend .icon-awesome
		content: "\f16d"

.icon-awesome-flickr
	&:before
		@extend .icon-awesome
		content: "\f16e"

.icon-awesome-adn
	&:before
		@extend .icon-awesome
		content: "\f170"

.icon-awesome-bitbucket
	&:before
		@extend .icon-awesome
		content: "\f171"

.icon-awesome-bitbucket-square
	&:before
		@extend .icon-awesome
		content: "\f172"

.icon-awesome-tumblr
	&:before
		@extend .icon-awesome
		content: "\f173"

.icon-awesome-tumblr-square
	&:before
		@extend .icon-awesome
		content: "\f174"

.icon-awesome-long-arrow-down
	&:before
		@extend .icon-awesome
		content: "\f175"

.icon-awesome-long-arrow-up
	&:before
		@extend .icon-awesome
		content: "\f176"

.icon-awesome-long-arrow-left
	&:before
		@extend .icon-awesome
		content: "\f177"

.icon-awesome-long-arrow-right
	&:before
		@extend .icon-awesome
		content: "\f178"

.icon-awesome-apple
	&:before
		@extend .icon-awesome
		content: "\f179"

.icon-awesome-windows
	&:before
		@extend .icon-awesome
		content: "\f17a"

.icon-awesome-android
	&:before
		@extend .icon-awesome
		content: "\f17b"

.icon-awesome-linux
	&:before
		@extend .icon-awesome
		content: "\f17c"

.icon-awesome-dribbble
	&:before
		@extend .icon-awesome
		content: "\f17d"

.icon-awesome-skype
	&:before
		@extend .icon-awesome
		content: "\f17e"

.icon-awesome-foursquare
	&:before
		@extend .icon-awesome
		content: "\f180"

.icon-awesome-trello
	&:before
		@extend .icon-awesome
		content: "\f181"

.icon-awesome-female
	&:before
		@extend .icon-awesome
		content: "\f182"

.icon-awesome-male
	&:before
		@extend .icon-awesome
		content: "\f183"

.icon-awesome-gittip,
.icon-awesome-gratipay
	&:before
		@extend .icon-awesome
		content: "\f184"

.icon-awesome-sun-o
	&:before
		@extend .icon-awesome
		content: "\f185"

.icon-awesome-moon-o
	&:before
		@extend .icon-awesome
		content: "\f186"

.icon-awesome-archive
	&:before
		@extend .icon-awesome
		content: "\f187"

.icon-awesome-bug
	&:before
		@extend .icon-awesome
		content: "\f188"

.icon-awesome-vk
	&:before
		@extend .icon-awesome
		content: "\f189"

.icon-awesome-weibo
	&:before
		@extend .icon-awesome
		content: "\f18a"

.icon-awesome-renren
	&:before
		@extend .icon-awesome
		content: "\f18b"

.icon-awesome-pagelines
	&:before
		@extend .icon-awesome
		content: "\f18c"

.icon-awesome-stack-exchange
	&:before
		@extend .icon-awesome
		content: "\f18d"

.icon-awesome-arrow-circle-o-right
	&:before
		@extend .icon-awesome
		content: "\f18e"

.icon-awesome-arrow-circle-o-left
	&:before
		@extend .icon-awesome
		content: "\f190"

.icon-awesome-toggle-left,
.icon-awesome-caret-square-o-left
	&:before
		@extend .icon-awesome
		content: "\f191"

.icon-awesome-dot-circle-o
	&:before
		@extend .icon-awesome
		content: "\f192"

.icon-awesome-wheelchair
	&:before
		@extend .icon-awesome
		content: "\f193"

.icon-awesome-vimeo-square
	&:before
		@extend .icon-awesome
		content: "\f194"

.icon-awesome-turkish-lira,
.icon-awesome-try
	&:before
		@extend .icon-awesome
		content: "\f195"

.icon-awesome-plus-square-o
	&:before
		@extend .icon-awesome
		content: "\f196"

.icon-awesome-space-shuttle
	&:before
		@extend .icon-awesome
		content: "\f197"

.icon-awesome-slack
	&:before
		@extend .icon-awesome
		content: "\f198"

.icon-awesome-envelope-square
	&:before
		@extend .icon-awesome
		content: "\f199"

.icon-awesome-wordpress
	&:before
		@extend .icon-awesome
		content: "\f19a"

.icon-awesome-openid
	&:before
		@extend .icon-awesome
		content: "\f19b"

.icon-awesome-institution,
.icon-awesome-bank,
.icon-awesome-university
	&:before
		@extend .icon-awesome
		content: "\f19c"

.icon-awesome-mortar-board,
.icon-awesome-graduation-cap
	&:before
		@extend .icon-awesome
		content: "\f19d"

.icon-awesome-yahoo
	&:before
		@extend .icon-awesome
		content: "\f19e"

.icon-awesome-google
	&:before
		@extend .icon-awesome
		content: "\f1a0"

.icon-awesome-reddit
	&:before
		@extend .icon-awesome
		content: "\f1a1"

.icon-awesome-reddit-square
	&:before
		@extend .icon-awesome
		content: "\f1a2"

.icon-awesome-stumbleupon-circle
	&:before
		@extend .icon-awesome
		content: "\f1a3"

.icon-awesome-stumbleupon
	&:before
		@extend .icon-awesome
		content: "\f1a4"

.icon-awesome-delicious
	&:before
		@extend .icon-awesome
		content: "\f1a5"

.icon-awesome-digg
	&:before
		@extend .icon-awesome
		content: "\f1a6"

.icon-awesome-pied-piper
	&:before
		@extend .icon-awesome
		content: "\f1a7"

.icon-awesome-pied-piper-alt
	&:before
		@extend .icon-awesome
		content: "\f1a8"

.icon-awesome-drupal
	&:before
		@extend .icon-awesome
		content: "\f1a9"

.icon-awesome-joomla
	&:before
		@extend .icon-awesome
		content: "\f1aa"

.icon-awesome-language
	&:before
		@extend .icon-awesome
		content: "\f1ab"

.icon-awesome-fax
	&:before
		@extend .icon-awesome
		content: "\f1ac"

.icon-awesome-building
	&:before
		@extend .icon-awesome
		content: "\f1ad"

.icon-awesome-child
	&:before
		@extend .icon-awesome
		content: "\f1ae"

.icon-awesome-paw
	&:before
		@extend .icon-awesome
		content: "\f1b0"

.icon-awesome-spoon
	&:before
		@extend .icon-awesome
		content: "\f1b1"

.icon-awesome-cube
	&:before
		@extend .icon-awesome
		content: "\f1b2"

.icon-awesome-cubes
	&:before
		@extend .icon-awesome
		content: "\f1b3"

.icon-awesome-behance
	&:before
		@extend .icon-awesome
		content: "\f1b4"

.icon-awesome-behance-square
	&:before
		@extend .icon-awesome
		content: "\f1b5"

.icon-awesome-steam
	&:before
		@extend .icon-awesome
		content: "\f1b6"

.icon-awesome-steam-square
	&:before
		@extend .icon-awesome
		content: "\f1b7"

.icon-awesome-recycle
	&:before
		@extend .icon-awesome
		content: "\f1b8"

.icon-awesome-automobile,
.icon-awesome-car
	&:before
		@extend .icon-awesome
		content: "\f1b9"

.icon-awesome-cab,
.icon-awesome-taxi
	&:before
		@extend .icon-awesome
		content: "\f1ba"

.icon-awesome-tree
	&:before
		@extend .icon-awesome
		content: "\f1bb"

.icon-awesome-spotify
	&:before
		@extend .icon-awesome
		content: "\f1bc"

.icon-awesome-deviantart
	&:before
		@extend .icon-awesome
		content: "\f1bd"

.icon-awesome-soundcloud
	&:before
		@extend .icon-awesome
		content: "\f1be"

.icon-awesome-database
	&:before
		@extend .icon-awesome
		content: "\f1c0"

.icon-awesome-file-pdf-o
	&:before
		@extend .icon-awesome
		content: "\f1c1"

.icon-awesome-file-word-o
	&:before
		@extend .icon-awesome
		content: "\f1c2"

.icon-awesome-file-excel-o
	&:before
		@extend .icon-awesome
		content: "\f1c3"

.icon-awesome-file-powerpoint-o
	&:before
		@extend .icon-awesome
		content: "\f1c4"

.icon-awesome-file-photo-o,
.icon-awesome-file-picture-o,
.icon-awesome-file-image-o
	&:before
		@extend .icon-awesome
		content: "\f1c5"

.icon-awesome-file-zip-o,
.icon-awesome-file-archive-o
	&:before
		@extend .icon-awesome
		content: "\f1c6"

.icon-awesome-file-sound-o,
.icon-awesome-file-audio-o
	&:before
		@extend .icon-awesome
		content: "\f1c7"

.icon-awesome-file-movie-o,
.icon-awesome-file-video-o
	&:before
		@extend .icon-awesome
		content: "\f1c8"

.icon-awesome-file-code-o
	&:before
		@extend .icon-awesome
		content: "\f1c9"

.icon-awesome-vine
	&:before
		@extend .icon-awesome
		content: "\f1ca"

.icon-awesome-codepen
	&:before
		@extend .icon-awesome
		content: "\f1cb"

.icon-awesome-jsfiddle
	&:before
		@extend .icon-awesome
		content: "\f1cc"

.icon-awesome-life-bouy,
.icon-awesome-life-buoy,
.icon-awesome-life-saver,
.icon-awesome-support,
.icon-awesome-life-ring
	&:before
		@extend .icon-awesome
		content: "\f1cd"

.icon-awesome-circle-o-notch
	&:before
		@extend .icon-awesome
		content: "\f1ce"

.icon-awesome-ra,
.icon-awesome-rebel
	&:before
		@extend .icon-awesome
		content: "\f1d0"

.icon-awesome-ge,
.icon-awesome-empire
	&:before
		@extend .icon-awesome
		content: "\f1d1"

.icon-awesome-git-square
	&:before
		@extend .icon-awesome
		content: "\f1d2"

.icon-awesome-git
	&:before
		@extend .icon-awesome
		content: "\f1d3"

.icon-awesome-y-combinator-square,
.icon-awesome-yc-square,
.icon-awesome-hacker-news
	&:before
		@extend .icon-awesome
		content: "\f1d4"

.icon-awesome-tencent-weibo
	&:before
		@extend .icon-awesome
		content: "\f1d5"

.icon-awesome-qq
	&:before
		@extend .icon-awesome
		content: "\f1d6"

.icon-awesome-wechat,
.icon-awesome-weixin
	&:before
		@extend .icon-awesome
		content: "\f1d7"

.icon-awesome-send,
.icon-awesome-paper-plane
	&:before
		@extend .icon-awesome
		content: "\f1d8"

.icon-awesome-send-o,
.icon-awesome-paper-plane-o
	&:before
		@extend .icon-awesome
		content: "\f1d9"

.icon-awesome-history
	&:before
		@extend .icon-awesome
		content: "\f1da"

.icon-awesome-circle-thin
	&:before
		@extend .icon-awesome
		content: "\f1db"

.icon-awesome-header
	&:before
		@extend .icon-awesome
		content: "\f1dc"

.icon-awesome-paragraph
	&:before
		@extend .icon-awesome
		content: "\f1dd"

.icon-awesome-sliders
	&:before
		@extend .icon-awesome
		content: "\f1de"

.icon-awesome-share-alt
	&:before
		@extend .icon-awesome
		content: "\f1e0"

.icon-awesome-share-alt-square
	&:before
		@extend .icon-awesome
		content: "\f1e1"

.icon-awesome-bomb
	&:before
		@extend .icon-awesome
		content: "\f1e2"

.icon-awesome-soccer-ball-o,
.icon-awesome-futbol-o
	&:before
		@extend .icon-awesome
		content: "\f1e3"

.icon-awesome-tty
	&:before
		@extend .icon-awesome
		content: "\f1e4"

.icon-awesome-binoculars
	&:before
		@extend .icon-awesome
		content: "\f1e5"

.icon-awesome-plug
	&:before
		@extend .icon-awesome
		content: "\f1e6"

.icon-awesome-slideshare
	&:before
		@extend .icon-awesome
		content: "\f1e7"

.icon-awesome-twitch
	&:before
		@extend .icon-awesome
		content: "\f1e8"

.icon-awesome-yelp
	&:before
		@extend .icon-awesome
		content: "\f1e9"

.icon-awesome-newspaper-o
	&:before
		@extend .icon-awesome
		content: "\f1ea"

.icon-awesome-wifi
	&:before
		@extend .icon-awesome
		content: "\f1eb"

.icon-awesome-calculator
	&:before
		@extend .icon-awesome
		content: "\f1ec"

.icon-awesome-paypal
	&:before
		@extend .icon-awesome
		content: "\f1ed"

.icon-awesome-google-wallet
	&:before
		@extend .icon-awesome
		content: "\f1ee"

.icon-awesome-cc-visa
	&:before
		@extend .icon-awesome
		content: "\f1f0"

.icon-awesome-cc-mastercard
	&:before
		@extend .icon-awesome
		content: "\f1f1"

.icon-awesome-cc-discover
	&:before
		@extend .icon-awesome
		content: "\f1f2"

.icon-awesome-cc-amex
	&:before
		@extend .icon-awesome
		content: "\f1f3"

.icon-awesome-cc-paypal
	&:before
		@extend .icon-awesome
		content: "\f1f4"

.icon-awesome-cc-stripe
	&:before
		@extend .icon-awesome
		content: "\f1f5"

.icon-awesome-bell-slash
	&:before
		@extend .icon-awesome
		content: "\f1f6"

.icon-awesome-bell-slash-o
	&:before
		@extend .icon-awesome
		content: "\f1f7"

.icon-awesome-trash
	&:before
		@extend .icon-awesome
		content: "\f1f8"

.icon-awesome-copyright
	&:before
		@extend .icon-awesome
		content: "\f1f9"

.icon-awesome-at
	&:before
		@extend .icon-awesome
		content: "\f1fa"

.icon-awesome-eyedropper
	&:before
		@extend .icon-awesome
		content: "\f1fb"

.icon-awesome-paint-brush
	&:before
		@extend .icon-awesome
		content: "\f1fc"

.icon-awesome-birthday-cake
	&:before
		@extend .icon-awesome
		content: "\f1fd"

.icon-awesome-area-chart
	&:before
		@extend .icon-awesome
		content: "\f1fe"

.icon-awesome-pie-chart
	&:before
		@extend .icon-awesome
		content: "\f200"

.icon-awesome-line-chart
	&:before
		@extend .icon-awesome
		content: "\f201"

.icon-awesome-lastfm
	&:before
		@extend .icon-awesome
		content: "\f202"

.icon-awesome-lastfm-square
	&:before
		@extend .icon-awesome
		content: "\f203"

.icon-awesome-toggle-off
	&:before
		@extend .icon-awesome
		content: "\f204"

.icon-awesome-toggle-on
	&:before
		@extend .icon-awesome
		content: "\f205"

.icon-awesome-bicycle
	&:before
		@extend .icon-awesome
		content: "\f206"

.icon-awesome-bus
	&:before
		@extend .icon-awesome
		content: "\f207"

.icon-awesome-ioxhost
	&:before
		@extend .icon-awesome
		content: "\f208"

.icon-awesome-angellist
	&:before
		@extend .icon-awesome
		content: "\f209"

.icon-awesome-cc
	&:before
		@extend .icon-awesome
		content: "\f20a"

.icon-awesome-shekel,
.icon-awesome-sheqel,
.icon-awesome-ils
	&:before
		@extend .icon-awesome
		content: "\f20b"

.icon-awesome-meanpath
	&:before
		@extend .icon-awesome
		content: "\f20c"

.icon-awesome-buysellads
	&:before
		@extend .icon-awesome
		content: "\f20d"

.icon-awesome-connectdevelop
	&:before
		@extend .icon-awesome
		content: "\f20e"

.icon-awesome-dashcube
	&:before
		@extend .icon-awesome
		content: "\f210"

.icon-awesome-forumbee
	&:before
		@extend .icon-awesome
		content: "\f211"

.icon-awesome-leanpub
	&:before
		@extend .icon-awesome
		content: "\f212"

.icon-awesome-sellsy
	&:before
		@extend .icon-awesome
		content: "\f213"

.icon-awesome-shirtsinbulk
	&:before
		@extend .icon-awesome
		content: "\f214"

.icon-awesome-simplybuilt
	&:before
		@extend .icon-awesome
		content: "\f215"

.icon-awesome-skyatlas
	&:before
		@extend .icon-awesome
		content: "\f216"

.icon-awesome-cart-plus
	&:before
		@extend .icon-awesome
		content: "\f217"

.icon-awesome-cart-arrow-down
	&:before
		@extend .icon-awesome
		content: "\f218"

.icon-awesome-diamond
	&:before
		@extend .icon-awesome
		content: "\f219"

.icon-awesome-ship
	&:before
		@extend .icon-awesome
		content: "\f21a"

.icon-awesome-user-secret
	&:before
		@extend .icon-awesome
		content: "\f21b"

.icon-awesome-motorcycle
	&:before
		@extend .icon-awesome
		content: "\f21c"

.icon-awesome-street-view
	&:before
		@extend .icon-awesome
		content: "\f21d"

.icon-awesome-heartbeat
	&:before
		@extend .icon-awesome
		content: "\f21e"

.icon-awesome-venus
	&:before
		@extend .icon-awesome
		content: "\f221"

.icon-awesome-mars
	&:before
		@extend .icon-awesome
		content: "\f222"

.icon-awesome-mercury
	&:before
		@extend .icon-awesome
		content: "\f223"

.icon-awesome-intersex,
.icon-awesome-transgender
	&:before
		@extend .icon-awesome
		content: "\f224"

.icon-awesome-transgender-alt
	&:before
		@extend .icon-awesome
		content: "\f225"

.icon-awesome-venus-double
	&:before
		@extend .icon-awesome
		content: "\f226"

.icon-awesome-mars-double
	&:before
		@extend .icon-awesome
		content: "\f227"

.icon-awesome-venus-mars
	&:before
		@extend .icon-awesome
		content: "\f228"

.icon-awesome-mars-stroke
	&:before
		@extend .icon-awesome
		content: "\f229"

.icon-awesome-mars-stroke-v
	&:before
		@extend .icon-awesome
		content: "\f22a"

.icon-awesome-mars-stroke-h
	&:before
		@extend .icon-awesome
		content: "\f22b"

.icon-awesome-neuter
	&:before
		@extend .icon-awesome
		content: "\f22c"

.icon-awesome-genderless
	&:before
		@extend .icon-awesome
		content: "\f22d"

.icon-awesome-facebook-official
	&:before
		@extend .icon-awesome
		content: "\f230"

.icon-awesome-pinterest-p
	&:before
		@extend .icon-awesome
		content: "\f231"

.icon-awesome-whatsapp
	&:before
		@extend .icon-awesome
		content: "\f232"

.icon-awesome-server
	&:before
		@extend .icon-awesome
		content: "\f233"

.icon-awesome-user-plus
	&:before
		@extend .icon-awesome
		content: "\f234"

.icon-awesome-user-times
	&:before
		@extend .icon-awesome
		content: "\f235"

.icon-awesome-hotel,
.icon-awesome-bed
	&:before
		@extend .icon-awesome
		content: "\f236"

.icon-awesome-viacoin
	&:before
		@extend .icon-awesome
		content: "\f237"

.icon-awesome-train
	&:before
		@extend .icon-awesome
		content: "\f238"

.icon-awesome-subway
	&:before
		@extend .icon-awesome
		content: "\f239"

.icon-awesome-medium
	&:before
		@extend .icon-awesome
		content: "\f23a"

.icon-awesome-yc,
.icon-awesome-y-combinator
	&:before
		@extend .icon-awesome
		content: "\f23b"

.icon-awesome-optin-monster
	&:before
		@extend .icon-awesome
		content: "\f23c"

.icon-awesome-opencart
	&:before
		@extend .icon-awesome
		content: "\f23d"

.icon-awesome-expeditedssl
	&:before
		@extend .icon-awesome
		content: "\f23e"

.icon-awesome-battery-4,
.icon-awesome-battery-full
	&:before
		@extend .icon-awesome
		content: "\f240"

.icon-awesome-battery-3,
.icon-awesome-battery-three-quarters
	&:before
		@extend .icon-awesome
		content: "\f241"

.icon-awesome-battery-2,
.icon-awesome-battery-half
	&:before
		@extend .icon-awesome
		content: "\f242"

.icon-awesome-battery-1,
.icon-awesome-battery-quarter
	&:before
		@extend .icon-awesome
		content: "\f243"

.icon-awesome-battery-0,
.icon-awesome-battery-empty
	&:before
		@extend .icon-awesome
		content: "\f244"

.icon-awesome-mouse-pointer
	&:before
		@extend .icon-awesome
		content: "\f245"

.icon-awesome-i-cursor
	&:before
		@extend .icon-awesome
		content: "\f246"

.icon-awesome-object-group
	&:before
		@extend .icon-awesome
		content: "\f247"

.icon-awesome-object-ungroup
	&:before
		@extend .icon-awesome
		content: "\f248"

.icon-awesome-sticky-note
	&:before
		@extend .icon-awesome
		content: "\f249"

.icon-awesome-sticky-note-o
	&:before
		@extend .icon-awesome
		content: "\f24a"

.icon-awesome-cc-jcb
	&:before
		@extend .icon-awesome
		content: "\f24b"

.icon-awesome-cc-diners-club
	&:before
		@extend .icon-awesome
		content: "\f24c"

.icon-awesome-clone
	&:before
		@extend .icon-awesome
		content: "\f24d"

.icon-awesome-balance-scale
	&:before
		@extend .icon-awesome
		content: "\f24e"

.icon-awesome-hourglass-o
	&:before
		@extend .icon-awesome
		content: "\f250"

.icon-awesome-hourglass-1,
.icon-awesome-hourglass-start
	&:before
		@extend .icon-awesome
		content: "\f251"

.icon-awesome-hourglass-2,
.icon-awesome-hourglass-half
	&:before
		@extend .icon-awesome
		content: "\f252"

.icon-awesome-hourglass-3,
.icon-awesome-hourglass-end
	&:before
		@extend .icon-awesome
		content: "\f253"

.icon-awesome-hourglass
	&:before
		@extend .icon-awesome
		content: "\f254"

.icon-awesome-hand-grab-o,
.icon-awesome-hand-rock-o
	&:before
		@extend .icon-awesome
		content: "\f255"

.icon-awesome-hand-stop-o,
.icon-awesome-hand-paper-o
	&:before
		@extend .icon-awesome
		content: "\f256"

.icon-awesome-hand-scissors-o
	&:before
		@extend .icon-awesome
		content: "\f257"

.icon-awesome-hand-lizard-o
	&:before
		@extend .icon-awesome
		content: "\f258"

.icon-awesome-hand-spock-o
	&:before
		@extend .icon-awesome
		content: "\f259"

.icon-awesome-hand-pointer-o
	&:before
		@extend .icon-awesome
		content: "\f25a"

.icon-awesome-hand-peace-o
	&:before
		@extend .icon-awesome
		content: "\f25b"

.icon-awesome-trademark
	&:before
		@extend .icon-awesome
		content: "\f25c"

.icon-awesome-registered
	&:before
		@extend .icon-awesome
		content: "\f25d"

.icon-awesome-creative-commons
	&:before
		@extend .icon-awesome
		content: "\f25e"

.icon-awesome-gg
	&:before
		@extend .icon-awesome
		content: "\f260"

.icon-awesome-gg-circle
	&:before
		@extend .icon-awesome
		content: "\f261"

.icon-awesome-tripadvisor
	&:before
		@extend .icon-awesome
		content: "\f262"

.icon-awesome-odnoklassniki
	&:before
		@extend .icon-awesome
		content: "\f263"

.icon-awesome-odnoklassniki-square
	&:before
		@extend .icon-awesome
		content: "\f264"

.icon-awesome-get-pocket
	&:before
		@extend .icon-awesome
		content: "\f265"

.icon-awesome-wikipedia-w
	&:before
		@extend .icon-awesome
		content: "\f266"

.icon-awesome-safari
	&:before
		@extend .icon-awesome
		content: "\f267"

.icon-awesome-chrome
	&:before
		@extend .icon-awesome
		content: "\f268"

.icon-awesome-firefox
	&:before
		@extend .icon-awesome
		content: "\f269"

.icon-awesome-opera
	&:before
		@extend .icon-awesome
		content: "\f26a"

.icon-awesome-internet-explorer
	&:before
		@extend .icon-awesome
		content: "\f26b"

.icon-awesome-tv,
.icon-awesome-television
	&:before
		@extend .icon-awesome
		content: "\f26c"

.icon-awesome-contao
	&:before
		@extend .icon-awesome
		content: "\f26d"

.icon-awesome-500px
	&:before
		@extend .icon-awesome
		content: "\f26e"

.icon-awesome-amazon
	&:before
		@extend .icon-awesome
		content: "\f270"

.icon-awesome-calendar-plus-o
	&:before
		@extend .icon-awesome
		content: "\f271"

.icon-awesome-calendar-minus-o
	&:before
		@extend .icon-awesome
		content: "\f272"

.icon-awesome-calendar-times-o
	&:before
		@extend .icon-awesome
		content: "\f273"

.icon-awesome-calendar-check-o
	&:before
		@extend .icon-awesome
		content: "\f274"

.icon-awesome-industry
	&:before
		@extend .icon-awesome
		content: "\f275"

.icon-awesome-map-pin
	&:before
		@extend .icon-awesome
		content: "\f276"

.icon-awesome-map-signs
	&:before
		@extend .icon-awesome
		content: "\f277"

.icon-awesome-map-o
	&:before
		@extend .icon-awesome
		content: "\f278"

.icon-awesome-map
	&:before
		@extend .icon-awesome
		content: "\f279"

.icon-awesome-commenting
	&:before
		@extend .icon-awesome
		content: "\f27a"

.icon-awesome-commenting-o
	&:before
		@extend .icon-awesome
		content: "\f27b"

.icon-awesome-houzz
	&:before
		@extend .icon-awesome
		content: "\f27c"

.icon-awesome-vimeo
	&:before
		@extend .icon-awesome
		content: "\f27d"

.icon-awesome-black-tie
	&:before
		@extend .icon-awesome
		content: "\f27e"

.icon-awesome-fonticons
	&:before
		@extend .icon-awesome
		content: "\f280"

