/* FONT PATH
 * -------------------------- */
@font-face
	font-family 'ccf'
	src url($font-icon-path + 'ccf/ccf.eot?-5yccof')
	src url($font-icon-path + 'ccf/ccf.eot?#iefix-5yccof') format('embedded-opentype'),
		url($font-icon-path + 'ccf/ccf.woff?-5yccof') format('woff'),
		url($font-icon-path + 'ccf/ccf.ttf?-5yccof') format('truetype'),
		url($font-icon-path + 'ccf/ccf.svg?-5yccof#ccf') format('svg')


// Catchall baseclass
.icon-ccf
	position relative
	top 0px
	display inline-block
	font-family 'ccf'
	font-style normal
	font-size 1em
	font-weight normal
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	text-rendering auto


////////// CCF-ICON ///////////
///////////////////////////////

.icon-ccf-pecho
	&:before
		@extend .icon-ccf
		content "\e600"

.icon-ccf-cintura
	&:before
		@extend .icon-ccf
		content "\e601"

.icon-ccf-physique
	&:before
		@extend .icon-ccf
		content "\e600"

.icon-ccf-muscle
	&:before
		@extend .icon-ccf
		content "\e601"

.icon-ccf-bone
	&:before
		@extend .icon-ccf
		content "\e602"

.icon-ccf-visceral-fat
	&:before
		@extend .icon-ccf
		content "\e603"

.icon-ccf-body-water
	&:before
		@extend .icon-ccf
		content "\e604"

.icon-ccf-basal-metabolic
	&:before
		@extend .icon-ccf
		content "\e605"

.icon-ccf-body-fat
	&:before
		@extend .icon-ccf
		content "\e606"

.icon-ccf-weight
	&:before
		@extend .icon-ccf
		content "\e607"

.icon-ccf-cadera
	&:before
		@extend .icon-ccf
		content "\e608"

.icon-ccf-cintura
	&:before
		@extend .icon-ccf
		content "\e609"

.icon-ccf-pecho
	&:before
		@extend .icon-ccf
		content "\e60a"

.icon-ccf-grasa-corporal
	&:before
		@extend .icon-ccf
		content "\e60b"

