//
// Glyphicons for Bootstrap
//
// Since icons are fonts, they can be placed anywhere text is placed and are
// thus automatically sized to match the surrounding child. To use, create an
// inline element with the appropriate classes, like so:
//
// <a href="#"><span class="icon-glyph-star"></span> Star</a>


@font-face
	font-family 'icon-glyph'
	src url($font-icon-path + 'glyphicons/glyphicons-halflings-regular.eot')
	src url($font-icon-path + 'glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
		url($font-icon-path + 'glyphicons/glyphicons-halflings-regular.woff') format('woff'),
		url($font-icon-path + 'glyphicons/glyphicons-halflings-regular.ttf') format('truetype'),
		url($font-icon-path + 'glyphicons/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg')


// Catchall baseclass
.icon-glyph
	position relative
	top 1px
	display inline-block
	font-family 'icon-glyph'
	font-style normal
	font-weight normal
	line-height 1
	-webkit-font-smoothing antialiased


////////////////////////////////////////////////////////////////////////
////////////DESCOMENTAR SOLO EL ICONO QUE UTILICES//////////////////////
////////////////////////////////////////////////////////////////////////



.icon-glyph-asterisk
	&:before
		@extend .icon-glyph
		content "\2a"

// .icon-glyph-plus
// 	&:before
// 		@extend .icon-glyph
// 		content "\2b"

// .icon-glyph-euro
// 	&:before
// 		@extend .icon-glyph
// 		content "\20ac"

// .icon-glyph-minus
// 	&:before
// 		@extend .icon-glyph
// 		content "\2212"

// .icon-glyph-cloud
// 	&:before
// 		@extend .icon-glyph
// 		content "\2601"

// .icon-glyph-envelope
// 	&:before
// 		@extend .icon-glyph
// 		content "\2709"

.icon-glyph-pencil
	&:before
		@extend .icon-glyph
		content "\270f"

// .icon-glyph-glass
// 	&:before
// 		@extend .icon-glyph
// 		content "\e001"

// .icon-glyph-music
// 	&:before
// 		@extend .icon-glyph
// 		content "\e002"

// .icon-glyph-search
// 	&:before
// 		@extend .icon-glyph
// 		content "\e003"

.icon-glyph-heart
	&:before
		@extend .icon-glyph
		content "\e005"

.icon-glyph-star
	&:before
		@extend .icon-glyph
		content "\e006"

// .icon-glyph-star-empty
// 	&:before
// 		@extend .icon-glyph
// 		content "\e007"

.icon-glyph-user
	&:before
		@extend .icon-glyph
		content "\e008"

// .icon-glyph-film
// 	&:before
// 		@extend .icon-glyph
// 		content "\e009"

// .icon-glyph-th-large
// 	&:before
// 		@extend .icon-glyph
// 		content "\e010"

// .icon-glyph-th
// 	&:before
// 		@extend .icon-glyph
// 		content "\e011"

// .icon-glyph-th-list
// 	&:before
// 		@extend .icon-glyph
// 		content "\e012"

// .icon-glyph-ok
// 	&:before
// 		@extend .icon-glyph
// 		content "\e013"

// .icon-glyph-remove
// 	&:before
// 		@extend .icon-glyph
// 		content "\e014"

// .icon-glyph-zoom-in
// 	&:before
// 		@extend .icon-glyph
// 		content "\e015"

// .icon-glyph-zoom-out
// 	&:before
// 		@extend .icon-glyph
// 		content "\e016"

// .icon-glyph-off
// 	&:before
// 		@extend .icon-glyph
// 		content "\e017"

// .icon-glyph-signa
// 	&:before
// 		@extend .icon-glyph
// 		content "\e018"

// .icon-glyph-cog
// 	&:before
// 		@extend .icon-glyph
// 		content "\e019"

.icon-glyph-trash
	&:before
		@extend .icon-glyph
		content "\e020"

// .icon-glyph-home
// 	&:before
// 		@extend .icon-glyph
// 		content "\e021"

// .icon-glyph-file
// 	&:before
// 		@extend .icon-glyph
// 		content "\e022"

// .icon-glyph-time
// 	&:before
// 		@extend .icon-glyph
// 		content "\e023"

// .icon-glyph-road
// 	&:before
// 		@extend .icon-glyph
// 		content "\e024"

// .icon-glyph-download-alt
// 	&:before
// 		@extend .icon-glyph
// 		content "\e025"

// .icon-glyph-download
// 	&:before
// 		@extend .icon-glyph
// 		content "\e026"

// .icon-glyph-upload
// 	&:before
// 		@extend .icon-glyph
// 		content "\e027"

// .icon-glyph-inbox
// 	&:before
// 		@extend .icon-glyph
// 		content "\e028"

// .icon-glyph-play-circle
// 	&:before
// 		@extend .icon-glyph
// 		content "\e029"

.icon-glyph-repeat
	&:before
		@extend .icon-glyph
		content "\e030"

.icon-glyph-refresh
	&:before
		@extend .icon-glyph
		content "\e031"

// .icon-glyph-list-alt
// 	&:before
// 		@extend .icon-glyph
// 		content "\e032"

// .icon-glyph-flag
// 	&:before
// 		@extend .icon-glyph
// 		content "\e034"

// .icon-glyph-headphones
// 	&:before
// 		@extend .icon-glyph
// 		content "\e035"

// .icon-glyph-volume-off
// 	&:before
// 		@extend .icon-glyph
// 		content "\e036"

// .icon-glyph-volume-down
// 	&:before
// 		@extend .icon-glyph
// 		content "\e037"

// .icon-glyph-volume-up
// 	&:before
// 		@extend .icon-glyph
// 		content "\e038"

// .icon-glyph-qrcode
// 	&:before
// 		@extend .icon-glyph
// 		content "\e039"

// .icon-glyph-barcode
// 	&:before
// 		@extend .icon-glyph
// 		content "\e040"

// .icon-glyph-tag
// 	&:before
// 		@extend .icon-glyph
// 		content "\e041"

// .icon-glyph-tags
// 	&:before
// 		@extend .icon-glyph
// 		content "\e042"

// .icon-glyph-book
// 	&:before
// 		@extend .icon-glyph
// 		content "\e043"

// .icon-glyph-print
// 	&:before
// 		@extend .icon-glyph
// 		content "\e045"

// .icon-glyph-font
// 	&:before
// 		@extend .icon-glyph
// 		content "\e047"

// .icon-glyph-bold
// 	&:before
// 		@extend .icon-glyph
// 		content "\e048"

// .icon-glyph-italic
// 	&:before
// 		@extend .icon-glyph
// 		content "\e049"

// .icon-glyph-text-height
// 	&:before
// 		@extend .icon-glyph
// 		content "\e050"

// .icon-glyph-text-width
// 	&:before
// 		@extend .icon-glyph
// 		content "\e051"

// .icon-glyph-align-left
// 	&:before
// 		@extend .icon-glyph
// 		content "\e052"

// .icon-glyph-align-center
// 	&:before
// 		@extend .icon-glyph
// 		content "\e053"

// .icon-glyph-align-right
// 	&:before
// 		@extend .icon-glyph
// 		content "\e054"

// .icon-glyph-align-justify
// 	&:before
// 		@extend .icon-glyph
// 		content "\e055"

// .icon-glyph-list
// 	&:before
// 		@extend .icon-glyph
// 		content "\e056"

// .icon-glyph-indent-left
// 	&:before
// 		@extend .icon-glyph
// 		content "\e057"


// .icon-glyph-indent-right
// 	&:before
// 		@extend .icon-glyph
// 		content "\e058"

// .icon-glyph-facetime-video
// 	&:before
// 		@extend .icon-glyph
// 		content "\e059"

// .icon-glyph-picture
// 	&:before
// 		@extend .icon-glyph
// 		content "\e060"

// .icon-glyph-map-marker
// 	&:before
// 		@extend .icon-glyph
// 		content "\e062"

// .icon-glyph-adjust
// 	&:before
// 		@extend .icon-glyph
// 		content "\e063"

// .icon-glyph-tint
// 	&:before
// 		@extend .icon-glyph
// 		content "\e064"

// .icon-glyph-edit
// 	&:before
// 		@extend .icon-glyph
// 		content "\e065"

// .icon-glyph-share
// 	&:before
// 		@extend .icon-glyph
// 		content "\e066"

// .icon-glyph-check
// 	&:before
// 		@extend .icon-glyph
// 		content "\e067"

// .icon-glyph-move
// 	&:before
// 		@extend .icon-glyph
// 		content "\e068"

// .icon-glyph-step-backward
// 	&:before
// 		@extend .icon-glyph
// 		content "\e069"

// .icon-glyph-fast-backward
// 	&:before
// 		@extend .icon-glyph
// 		content "\e070"

// .icon-glyph-backward
// 	&:before
// 		@extend .icon-glyph
// 		content "\e071"

// .icon-glyph-play
// 	&:before
// 		@extend .icon-glyph
// 		content "\e072"

// .icon-glyph-pause
// 	&:before
// 		@extend .icon-glyph
// 		content "\e073"

// .icon-glyph-stop
// 	&:before
// 		@extend .icon-glyph
// 		content "\e074"

// .icon-glyph-forward
// 	&:before
// 		@extend .icon-glyph
// 		content "\e075"

// .icon-glyph-fast-forward
// 	&:before
// 		@extend .icon-glyph
// 		content "\e076"

// .icon-glyph-step-forward
// 	&:before
// 		@extend .icon-glyph
// 		content "\e077"

// .icon-glyph-eject
// 	&:before
// 		@extend .icon-glyph
// 		content "\e078"

// .icon-glyph-chevron-left
// 	&:before
// 		@extend .icon-glyph
// 		content "\e079"

// .icon-glyph-chevron-right
// 	&:before
// 		@extend .icon-glyph
// 		content "\e080"

// .icon-glyph-plus-sign
// 	&:before
// 		@extend .icon-glyph
// 		content "\e081"

// .icon-glyph-minus-sign
// 	&:before
// 		@extend .icon-glyph
// 		content "\e082"

// .icon-glyph-remove-sign
// 	&:before
// 		@extend .icon-glyph
// 		content "\e083"

// .icon-glyph-ok-sign
// 	&:before
// 		@extend .icon-glyph
// 		content "\e084"

// .icon-glyph-question-sign
// 	&:before
// 		@extend .icon-glyph
// 		content "\e085"

// .icon-glyph-info-sign
// 	&:before
// 		@extend .icon-glyph
// 		content "\e086"

// .icon-glyph-screenshot
// 	&:before
// 		@extend .icon-glyph
// 		content "\e087"

// .icon-glyph-remove-circle
// 	&:before
// 		@extend .icon-glyph
// 		content "\e088"

// .icon-glyph-ok-circle
// 	&:before
// 		@extend .icon-glyph
// 		content "\e089"

// .icon-glyph-ban-circle
// 	&:before
// 		@extend .icon-glyph
// 		content "\e090"

// .icon-glyph-arrow-left
// 	&:before
// 		@extend .icon-glyph
// 		content "\e091"

// .icon-glyph-arrow-right
// 	&:before
// 		@extend .icon-glyph
// 		content "\e092"

// .icon-glyph-arrow-up
// 	&:before
// 		@extend .icon-glyph
// 		content "\e093"

// .icon-glyph-arrow-down
// 	&:before
// 		@extend .icon-glyph
// 		content "\e094"

// .icon-glyph-share-alt
// 	&:before
// 		@extend .icon-glyph
// 		content "\e095"

// .icon-glyph-resize-full
// 	&:before
// 		@extend .icon-glyph
// 		content "\e096"

// .icon-glyph-resize-small
// 	&:before
// 		@extend .icon-glyph
// 		content "\e097"

// .icon-glyph-exclamation-sign
// 	&:before
// 		@extend .icon-glyph
// 		content "\e101"

// .icon-glyph-gift
// 	&:before
// 		@extend .icon-glyph
// 		content "\e102"

// .icon-glyph-leaf
// 	&:before
// 		@extend .icon-glyph
// 		content "\e103"

.icon-glyph-eye-open
	&:before
		@extend .icon-glyph
		content "\e105"

// .icon-glyph-eye-close
// 	&:before
// 		@extend .icon-glyph
// 		content "\e106"

// .icon-glyph-warning-sign
// 	&:before
// 		@extend .icon-glyph
// 		content "\e107"

// .icon-glyph-plane
// 	&:before
// 		@extend .icon-glyph
// 		content "\e108"

// .icon-glyph-random
// 	&:before
// 		@extend .icon-glyph
// 		content "\e110"

// .icon-glyph-comment
// 	&:before
// 		@extend .icon-glyph
// 		content "\e111"

// .icon-glyph-magnet
// 	&:before
// 		@extend .icon-glyph
// 		content "\e112"

// .icon-glyph-chevron-up
// 	&:before
// 		@extend .icon-glyph
// 		content "\e113"

.icon-glyph-chevron-down
	&:before
		@extend .icon-glyph
		content "\e114"

// .icon-glyph-retweet
// 	&:before
// 		@extend .icon-glyph
// 		content "\e115"

.icon-glyph-shopping-cart
	&:before
		@extend .icon-glyph
		content "\e116"

// .icon-glyph-folder-close
// 	&:before
// 		@extend .icon-glyph
// 		content "\e117"

// .icon-glyph-folder-open
// 	&:before
// 		@extend .icon-glyph
// 		content "\e118"

// .icon-glyph-resize-vertical
// 	&:before
// 		@extend .icon-glyph
// 		content "\e119"

// .icon-glyph-resize-horizontal
// 	&:before
// 		@extend .icon-glyph
// 		content "\e120"

// .icon-glyph-hdd
// 	&:before
// 		@extend .icon-glyph
// 		content "\e121"

// .icon-glyph-bullhorn
// 	&:before
// 		@extend .icon-glyph
// 		content "\e122"

// .icon-glyph-certificate
// 	&:before
// 		@extend .icon-glyph
// 		content "\e124"

// .icon-glyph-thumbs-up
// 	&:before
// 		@extend .icon-glyph
// 		content "\e125"

// .icon-glyph-thumbs-down
// 	&:before
// 		@extend .icon-glyph
// 		content "\e126"

// .icon-glyph-hand-right
// 	&:before
// 		@extend .icon-glyph
// 		content "\e127"

// .icon-glyph-hand-left
// 	&:before
// 		@extend .icon-glyph
// 		content "\e128"

// .icon-glyph-hand-up
// 	&:before
// 		@extend .icon-glyph
// 		content "\e129"

// .icon-glyph-hand-down
// 	&:before
// 		@extend .icon-glyph
// 		content "\e130"

// .icon-glyph-circle-arrow-right
// 	&:before
// 		@extend .icon-glyph
// 		content "\e131"

// .icon-glyph-circle-arrow-left
// 	&:before
// 		@extend .icon-glyph
// 		content "\e132"

// .icon-glyph-circle-arrow-up
// 	&:before
// 		@extend .icon-glyph
// 		content "\e133"

// .icon-glyph-circle-arrow-down
// 	&:before
// 		@extend .icon-glyph
// 		content "\e134"

// .icon-glyph-globe
// 	&:before
// 		@extend .icon-glyph
// 		content "\e135"

// .icon-glyph-tasks
// 	&:before
// 		@extend .icon-glyph
// 		content "\e137"

// .icon-glyph-filter
// 	&:before
// 		@extend .icon-glyph
// 		content "\e138"

// .icon-glyph-fullscreen
// 	&:before
// 		@extend .icon-glyph
// 		content "\e140"

// .icon-glyph-dashboard
// 	&:before
// 		@extend .icon-glyph
// 		content "\e141"

// .icon-glyph-heart-empty
// 	&:before
// 		@extend .icon-glyph
// 		content "\e143"

// .icon-glyph-link
// 	&:before
// 		@extend .icon-glyph
// 		content "\e144"

// .icon-glyph-phone
// 	&:before
// 		@extend .icon-glyph
// 		content "\e145"

// .icon-glyph-usd
// 	&:before
// 		@extend .icon-glyph
// 		content "\e148"

// .icon-glyph-gbp
// 	&:before
// 		@extend .icon-glyph
// 		content "\e149"

// .icon-glyph-sort
// 	&:before
// 		@extend .icon-glyph
// 		content "\e150"

// .icon-glyph-sort-by-alphabet
// 	&:before
// 		@extend .icon-glyph
// 		content "\e151"

// .icon-glyph-sort-by-alphabet-alt
// 	&:before
// 		@extend .icon-glyph
// 		content "\e152"

// .icon-glyph-sort-by-order
// 	&:before
// 		@extend .icon-glyph
// 		content "\e153"

// .icon-glyph-sort-by-order-alt
// 	&:before
// 		@extend .icon-glyph
// 		content "\e154"

// .icon-glyph-sort-by-attributes
// 	&:before
// 		@extend .icon-glyph
// 		content "\e155"

// .icon-glyph-sort-by-attributes-alt
// 	&:before
// 		@extend .icon-glyph
// 		content "\e156"

// .icon-glyph-unchecked
// 	&:before
// 		@extend .icon-glyph
// 		content "\e157"

// .icon-glyph-expand
// 	&:before
// 		@extend .icon-glyph
// 		content "\e158"

// .icon-glyph-collapse-down
// 	&:before
// 		@extend .icon-glyph
// 		content "\e159"

// .icon-glyph-collapse-up
// 	&:before
// 		@extend .icon-glyph
// 		content "\e160"

// .icon-glyph-log-in
// 	&:before
// 		@extend .icon-glyph
// 		content "\e161"

// .icon-glyph-flash
// 	&:before
// 		@extend .icon-glyph
// 		content "\e162"

// .icon-glyph-log-out
// 	&:before
// 		@extend .icon-glyph
// 		content "\e163"

// .icon-glyph-new-window
// 	&:before
// 		@extend .icon-glyph
// 		content "\e164"

// .icon-glyph-record
// 	&:before
// 		@extend .icon-glyph
// 		content "\e165"

// .icon-glyph-save
// 	&:before
// 		@extend .icon-glyph
// 		content "\e166"

// .icon-glyph-open
// 	&:before
// 		@extend .icon-glyph
// 		content "\e167"

// .icon-glyph-saved
// 	&:before
// 		@extend .icon-glyph
// 		content "\e168"

// .icon-glyph-import
// 	&:before
// 		@extend .icon-glyph
// 		content "\e169"

// .icon-glyph-export
// 	&:before
// 		@extend .icon-glyph
// 		content "\e170"

// .icon-glyph-send
// 	&:before
// 		@extend .icon-glyph
// 		content "\e171"

.icon-glyph-floppy-disk
	&:before
		@extend .icon-glyph
		content "\e172"

// .icon-glyph-floppy-saved
// 	&:before
// 		@extend .icon-glyph
// 		content "\e173"

// .icon-glyph-floppy-remove
// 	&:before
// 		@extend .icon-glyph
// 		content "\e174"

// .icon-glyph-floppy-save
// 	&:before
// 		@extend .icon-glyph
// 		content "\e175"

// .icon-glyph-floppy-open
// 	&:before
// 		@extend .icon-glyph
// 		content "\e176"

// .icon-glyph-credit-card
// 	&:before
// 		@extend .icon-glyph
// 		content "\e177"

// .icon-glyph-transfer
// 	&:before
// 		@extend .icon-glyph
// 		content "\e178"

// .icon-glyph-cutlery
// 	&:before
// 		@extend .icon-glyph
// 		content "\e179"

// .icon-glyph-header
// 	&:before
// 		@extend .icon-glyph
// 		content "\e180"

// .icon-glyph-compressed
// 	&:before
// 		@extend .icon-glyph
// 		content "\e181"

// .icon-glyph-earphone
// 	&:before
// 		@extend .icon-glyph
// 		content "\e182"

// .icon-glyph-phone-alt
// 	&:before
// 		@extend .icon-glyph
// 		content "\e183"

// .icon-glyph-tower
// 	&:before
// 		@extend .icon-glyph
// 		content "\e184"

// .icon-glyph-stats
// 	&:before
// 		@extend .icon-glyph
// 		content "\e185"

// .icon-glyph-sd-video
// 	&:before
// 		@extend .icon-glyph
// 		content "\e186"

// .icon-glyph-hd-video
// 	&:before
// 		@extend .icon-glyph
// 		content "\e187"

// .icon-glyph-subtitles
// 	&:before
// 		@extend .icon-glyph
// 		content "\e188"

// .icon-glyph-sound-stereo
// 	&:before
// 		@extend .icon-glyph
// 		content "\e189"

// .icon-glyph-sound-dolby
// 	&:before
// 		@extend .icon-glyph
// 		content "\e190"

// .icon-glyph-sound-5-1
// 	&:before
// 		@extend .icon-glyph
// 		content "\e191"

// .icon-glyph-sound-6-1
// 	&:before
// 		@extend .icon-glyph
// 		content "\e192"

// .icon-glyph-sound-7-1
// 	&:before
// 		@extend .icon-glyph
// 		content "\e193"

// .icon-glyph-copyright-mark
// 	&:before
// 		@extend .icon-glyph
// 		content "\e194"

// .icon-glyph-registration-mark
// 	&:before
// 		@extend .icon-glyph
// 		content "\e195"

// .icon-glyph-cloud-download
// 	&:before
// 		@extend .icon-glyph
// 		content "\e197"

// .icon-glyph-cloud-upload
// 	&:before
// 		@extend .icon-glyph
// 		content "\e198"

// .icon-glyph-tree-conifer
// 	&:before
// 		@extend .icon-glyph
// 		content "\e199"

// .icon-glyph-tree-deciduous
// 	&:before
// 		@extend .icon-glyph
// 		content "\e200"

// .icon-glyph-briefcase
// 	&:before
// 		@extend .icon-glyph
// 		content "\1f4bc"

// .icon-glyph-calendar
// 	&:before
// 		@extend .icon-glyph
// 		content "\1f4c5"

// .icon-glyph-pushpin
// 	&:before
// 		@extend .icon-glyph
// 		content "\1f4cc"

// .icon-glyph-paperclip
// 	&:before
// 		@extend .icon-glyph
// 		content "\1f4ce"

// .icon-glyph-camera
// 	&:before
// 		@extend .icon-glyph
// 		content "\1f4f7"

// .icon-glyph-lock
// 	&:before
// 		@extend .icon-glyph
// 		content "\1f512"

// .icon-glyph-bell
// 	&:before
// 		@extend .icon-glyph
// 		content "\1f514"

// .icon-glyph-bookmark
// 	&:before
// 		@extend .icon-glyph
// 		content "\1f516"

// .icon-glyph-fire
// 	&:before
// 		@extend .icon-glyph
// 		content "\1f525"

// .icon-glyph-wrench
// 	&:before
// 		@extend .icon-glyph
// 		content "\1f527"
