/* #Font icons Herbalife
================================================== */

@font-face
	font-family 'herbalife'
	src url($font-icon-path + 'herbalife/herbalife.eot')
	src url($font-icon-path + 'herbalife/herbalife.eot?#iefix') format('embedded-opentype'),
		url($font-icon-path + 'herbalife/herbalife.woff') format('woff'),
		url($font-icon-path + 'herbalife/herbalife.ttf') format('truetype'),
		url($font-icon-path + 'herbalife/herbalife.svg#herbalife') format('svg')


/* Use the following CSS code if you want to have a class per icon */
.icon-hbl
	position relative
	top 1px
	display inline-block
	font-family 'herbalife'
	font-style normal
	font-weight normal
	line-height 1
//	-webkit-font-smoothing antialiased


////////////////////////////////////////////////////////////////////////
////////////DESCOMENTAR SOLO EL ICONO QUE UTILICES//////////////////////
////////////////////////////////////////////////////////////////////////


.icon-hbl-phone:before
	@extend .icon-hbl
	content "\37"
.icon-hbl-mobile:before
	@extend .icon-hbl
	content "\38"
// .icon-hbl-address:before
// 	@extend .icon-hbl
// 	content "\39"
.icon-hbl-email:before
	@extend .icon-hbl
	content "\3a"
// .icon-hbl-email:before
// 	@extend .icon-hbl
// 	content "\e02a"
.icon-hbl-write:before
	@extend .icon-hbl
	content "\3b"
// .icon-hbl-attachment:before
// 	@extend .icon-hbl
// 	content "\3c"
// .icon-hbl-reply:before
// 	@extend .icon-hbl
// 	content "\3d"
// .icon-hbl-reply-to-all:before
// 	@extend .icon-hbl
// 	content "\3e"
// .icon-hbl-forward:before
// 	@extend .icon-hbl
// 	content "\3f"
.icon-hbl-user:before
	@extend .icon-hbl
	content "\40"
.icon-hbl-users:before
	@extend .icon-hbl
	content "\41"
// .icon-hbl-contact:before
// 	@extend .icon-hbl
// 	content "\42"
// .icon-hbl-people-2:before
// 	@extend .icon-hbl
// 	content "\43"
// .icon-hbl-user-2:before
// 	@extend .icon-hbl
// 	content "\44"
.icon-hbl-card:before
	@extend .icon-hbl
	content "\45"
// .icon-hbl-map:before
// 	@extend .icon-hbl
// 	content "\46"
// .icon-hbl-location:before
// 	@extend .icon-hbl
// 	content "\47"
// .icon-hbl-compass:before
// 	@extend .icon-hbl
// 	content "\48"
// .icon-hbl-heart:before
// 	@extend .icon-hbl
// 	content "\49"
// .icon-hbl-heart-2:before
// 	@extend .icon-hbl
// 	content "\4a"
.icon-hbl-star:before
	@extend .icon-hbl
	content "\4b"
// .icon-hbl-star-2:before
// 	@extend .icon-hbl
// 	content "\4c"
// .icon-hbl-thumbs-up:before
// 	@extend .icon-hbl
// 	content "\4d"
// .icon-hbl-chat:before
// 	@extend .icon-hbl
// 	content "\4e"
// .icon-hbl-comment:before
// 	@extend .icon-hbl
// 	content "\4f"
// .icon-hbl-quote:before
// 	@extend .icon-hbl
// 	content "\50"
// .icon-hbl-share:before
// 	@extend .icon-hbl
// 	content "\51"
// .icon-hbl-alert:before
// 	@extend .icon-hbl
// 	content "\52"
// .icon-hbl-link:before
// 	@extend .icon-hbl
// 	content "\53"
.icon-hbl-herbalife:before
	@extend .icon-hbl
	content "\54"
// .icon-hbl-leaf:before
// 	@extend .icon-hbl
// 	content "\57"
// .icon-hbl-camera:before
// 	@extend .icon-hbl
// 	content "\58"
// .icon-hbl-droplet:before
// 	@extend .icon-hbl
// 	content "\59"
// .icon-hbl-flight:before
// 	@extend .icon-hbl
// 	content "\5a"
// .icon-hbl-basket-2:before
// 	@extend .icon-hbl
// 	content "\5b"
// .icon-hbl-support:before
// 	@extend .icon-hbl
// 	content "\5c"
// .icon-hbl-eye:before
// 	@extend .icon-hbl
// 	content "\5d"
// .icon-hbl-clock:before
// 	@extend .icon-hbl
// 	content "\5e"
// .icon-hbl-calendar:before
// 	@extend .icon-hbl
// 	content "\60"
// .icon-hbl-locked:before
// 	@extend .icon-hbl
// 	content "\62"
// .icon-hbl-unlocked:before
// 	@extend .icon-hbl
// 	content "\63"
.icon-hbl-check:before
	@extend .icon-hbl
	content "\64"
// .icon-hbl-x:before
// 	@extend .icon-hbl
// 	content "\65"
.icon-hbl-check-circle:before
	@extend .icon-hbl
	content "\66"
// .icon-hbl-x-circle:before
// 	@extend .icon-hbl
// 	content "\67"
.icon-hbl-info:before
	@extend .icon-hbl
	content "\6a"
.icon-hbl-info-circle:before
	@extend .icon-hbl
	content "\6b"
// .icon-hbl-help:before
// 	@extend .icon-hbl
// 	content "\6c"
// .icon-hbl-help-circle:before
// 	@extend .icon-hbl
// 	content "\6d"
.icon-hbl-warning:before
	@extend .icon-hbl
	content "\6e"
// .icon-hbl-tag:before
// 	@extend .icon-hbl
// 	content "\56"
.icon-hbl-switch:before
	@extend .icon-hbl
	content "\6f"
// .icon-hbl-reload-CW:before
// 	@extend .icon-hbl
// 	content "\71"
// .icon-hbl-reload-CCW:before
// 	@extend .icon-hbl
// 	content "\72"
// .icon-hbl-shuffle:before
// 	@extend .icon-hbl
// 	content "\73"
// .icon-hbl-back:before
// 	@extend .icon-hbl
// 	content "\74"
// .icon-hbl-arrow:before
// 	@extend .icon-hbl
// 	content "\75"
// .icon-hbl-retweet:before
// 	@extend .icon-hbl
// 	content "\76"
// .icon-hbl-portrait:before
// 	@extend .icon-hbl
// 	content "\7b"
// .icon-hbl-landscape:before
// 	@extend .icon-hbl
// 	content "\7d"
// .icon-hbl-folder:before
// 	@extend .icon-hbl
// 	content "\e003"
// .icon-hbl-archive:before
// 	@extend .icon-hbl
// 	content "\e004"
// .icon-hbl-trashcan:before
// 	@extend .icon-hbl
// 	content "\e005"
.icon-hbl-upload:before
	@extend .icon-hbl
	content "\e006"
// .icon-hbl-download:before
// 	@extend .icon-hbl
// 	content "\e007"
// .icon-hbl-install:before
// 	@extend .icon-hbl
// 	content "\e008"
// .icon-hbl-cloud:before
// 	@extend .icon-hbl
// 	content "\e009"
.icon-hbl-upload-2:before
	@extend .icon-hbl
	content "\e00a"
// .icon-hbl-play:before
// 	@extend .icon-hbl
// 	content "\e00b"
// .icon-hbl-pause:before
// 	@extend .icon-hbl
// 	content "\e00c"
// .icon-hbl-record:before
// 	@extend .icon-hbl
// 	content "\e00d"
// .icon-hbl-stop:before
// 	@extend .icon-hbl
// 	content "\e00e"
// .icon-hbl-fast-forward:before
// 	@extend .icon-hbl
// 	content "\e00f"
// .icon-hbl-fast-backward:before
// 	@extend .icon-hbl
// 	content "\e010"
// .icon-hbl-first:before
// 	@extend .icon-hbl
// 	content "\e011"
// .icon-hbl-last:before
// 	@extend .icon-hbl
// 	content "\e012"
// .icon-hbl-full-screen:before
// 	@extend .icon-hbl
// 	content "\e013"
// .icon-hbl-collapse:before
// 	@extend .icon-hbl
// 	content "\e014"
// .icon-hbl-volume:before
// 	@extend .icon-hbl
// 	content "\e015"
// .icon-hbl-arrow-fat-left:before
// 	@extend .icon-hbl
// 	content "\e016"
// .icon-hbl-arrow-fat-down:before
// 	@extend .icon-hbl
// 	content "\e017"
// .icon-hbl-arrow-fat-up:before
// 	@extend .icon-hbl
// 	content "\e018"
// .icon-hbl-arrow-fat-right:before
// 	@extend .icon-hbl
// 	content "\e019"
// .icon-hbl-arrow-circle-left:before
// 	@extend .icon-hbl
// 	content "\e01e"
// .icon-hbl-arrow-circle-down:before
// 	@extend .icon-hbl
// 	content "\e01f"
// .icon-hbl-arrow-circle-up:before
// 	@extend .icon-hbl
// 	content "\e020"
// .icon-hbl-arrow-circle-right:before
// 	@extend .icon-hbl
// 	content "\e021"
.icon-hbl-chevron-left:before
	@extend .icon-hbl
	content "\e022"
.icon-hbl-chevron-down:before
	@extend .icon-hbl
	content "\e023"
.icon-hbl-chevron-up:before
	@extend .icon-hbl
	content "\e025"
.icon-hbl-chevron-right:before
	@extend .icon-hbl
	content "\e024"
// .icon-hbl-code:before
// 	@extend .icon-hbl
// 	content "\e02e"
// .icon-hbl-progress-1:before
// 	@extend .icon-hbl
// 	content "\e02f"
// .icon-hbl-progress-2:before
// 	@extend .icon-hbl
// 	content "\e030"
// .icon-hbl-progress-3:before
// 	@extend .icon-hbl
// 	content "\e031"
// .icon-hbl-progress-4:before
// 	@extend .icon-hbl
// 	content "\e032"
// .icon-hbl-battery:before
// 	@extend .icon-hbl
// 	content "\e033"
// .icon-hbl-history:before
// 	@extend .icon-hbl
// 	content "\e034"
// .icon-hbl-back-2:before
// 	@extend .icon-hbl
// 	content "\e035"
// .icon-hbl-sun:before
// 	@extend .icon-hbl
// 	content "\e036"
// .icon-hbl-sun-2:before
// 	@extend .icon-hbl
// 	content "\e037"
// .icon-hbl-light-bulb:before
// 	@extend .icon-hbl
// 	content "\e038"
// .icon-hbl-browser:before
// 	@extend .icon-hbl
// 	content "\e039"
// .icon-hbl-publish:before
// 	@extend .icon-hbl
// 	content "\e03a"
// .icon-hbl-screen:before
// 	@extend .icon-hbl
// 	content "\e03b"
// .icon-hbl-arrow-overunder:before
// 	@extend .icon-hbl
// 	content "\e03c"
// .icon-hbl-broadcast:before
// 	@extend .icon-hbl
// 	content "\e03d"
.icon-hbl-globe:before
	@extend .icon-hbl
	content "\e03e"
.icon-hbl-square-2:before
	@extend .icon-hbl
	content "\e03f"
// .icon-hbl-network:before
// 	@extend .icon-hbl
// 	content "\e041"
// .icon-hbl-feather:before
// 	@extend .icon-hbl
// 	content "\e042"
.icon-hbl-keyboard:before
	@extend .icon-hbl
	content "\e043"
.icon-hbl-home:before
	@extend .icon-hbl
	content "\e044"
// .icon-hbl-bookmark:before
// 	@extend .icon-hbl
// 	content "\e045"
// .icon-hbl-book:before
// 	@extend .icon-hbl
// 	content "\e046"
// .icon-hbl-popup:before
// 	@extend .icon-hbl
// 	content "\e047"
// .icon-hbl-search:before
// 	@extend .icon-hbl
// 	content "\e048"
// .icon-hbl-dots-three:before
// 	@extend .icon-hbl
// 	content "\e049"
// .icon-hbl-dots-two:before
// 	@extend .icon-hbl
// 	content "\e04a"
.icon-hbl-dot:before
	@extend .icon-hbl
	content "\e04b"
// .icon-hbl-creative-commons:before
// 	@extend .icon-hbl
// 	content "\e04c"
// .icon-hbl-cd:before
// 	@extend .icon-hbl
// 	content "\e04d"
// .icon-hbl-suitcase:before
// 	@extend .icon-hbl
// 	content "\e04e"
// .icon-hbl-suitcase-2:before
// 	@extend .icon-hbl
// 	content "\e04f"
// .icon-hbl-plus:before
// 	@extend .icon-hbl
// 	content "\e053"
// .icon-hbl-minus:before
// 	@extend .icon-hbl
// 	content "\e054"
// .icon-hbl-plus-circle:before
// 	@extend .icon-hbl
// 	content "\e055"
// .icon-hbl-minus-circle:before
// 	@extend .icon-hbl
// 	content "\e056"
// .icon-hbl-cog:before
// 	@extend .icon-hbl
// 	content "\e057"
// .icon-hbl-equalizer:before
// 	@extend .icon-hbl
// 	content "\e058"
// .icon-hbl-arrow-right:before
// 	@extend .icon-hbl
// 	content "\e059"
// .icon-hbl-arrow-left:before
// 	@extend .icon-hbl
// 	content "\e05a"
// .icon-hbl-arrow-up:before
// 	@extend .icon-hbl
// 	content "\e05b"
// .icon-hbl-arrow-down:before
// 	@extend .icon-hbl
// 	content "\e05c"
// .icon-hbl-battery-empty:before
// 	@extend .icon-hbl
// 	content "\e05d"
// .icon-hbl-battery-half:before
// 	@extend .icon-hbl
// 	content "\e05e"
// .icon-hbl-battery-full:before
// 	@extend .icon-hbl
// 	content "\e05f"
// .icon-hbl-battery-charging:before
// 	@extend .icon-hbl
// 	content "\e060"
// .icon-hbl-chart:before
// 	@extend .icon-hbl
// 	content "\e061"
// .icon-hbl-bars:before
// 	@extend .icon-hbl
// 	content "\e063"
// .icon-hbl-code-2:before
// 	@extend .icon-hbl
// 	content "\e065"
// .icon-hbl-atom:before
// 	@extend .icon-hbl
// 	content "\e066"
// .icon-hbl-credit-card:before
// 	@extend .icon-hbl
// 	content "\e067"
// .icon-hbl-database:before
// 	@extend .icon-hbl
// 	content "\e068"
// .icon-hbl-volume-off:before
// 	@extend .icon-hbl
// 	content "\e06b"
// .icon-hbl-volume-on:before
// 	@extend .icon-hbl
// 	content "\e06c"
.icon-hbl-floppy:before
	@extend .icon-hbl
	content "\e06e"
// .icon-hbl-cone:before
// 	@extend .icon-hbl
// 	content "\e070"
// .icon-hbl-pointer:before
// 	@extend .icon-hbl
// 	content "\e072"
// .icon-hbl-burst:before
// 	@extend .icon-hbl
// 	content "\e073"
// .icon-hbl-refresh:before
// 	@extend .icon-hbl
// 	content "\e076"
// .icon-hbl-bug:before
// 	@extend .icon-hbl
// 	content "\e078"
// .icon-hbl-address-book:before
// 	@extend .icon-hbl
// 	content "\e07b"
// .icon-hbl-contrast:before
// 	@extend .icon-hbl
// 	content "\e050"
// .icon-hbl-safari:before
// 	@extend .icon-hbl
// 	content "\e052"
// .icon-hbl-opera:before
// 	@extend .icon-hbl
// 	content "\e079"
// .icon-hbl-IE:before
// 	@extend .icon-hbl
// 	content "\e07a"
// .icon-hbl-firefox:before
// 	@extend .icon-hbl
// 	content "\e07d"
// .icon-hbl-chrome:before
// 	@extend .icon-hbl
// 	content "\e07e"
// .icon-hbl-css3:before
// 	@extend .icon-hbl
// 	content "\e07f"
// .icon-hbl-html5:before
// 	@extend .icon-hbl
// 	content "\e081"
// .icon-hbl-pinterest:before
// 	@extend .icon-hbl
// 	content "\e083"
// .icon-hbl-linkedin:before
// 	@extend .icon-hbl
// 	content "\e084"
// .icon-hbl-reddit:before
// 	@extend .icon-hbl
// 	content "\e085"
// .icon-hbl-skype:before
// 	@extend .icon-hbl
// 	content "\e071"
// .icon-hbl-windows:before
// 	@extend .icon-hbl
// 	content "\e064"
// .icon-hbl-picassa:before
// 	@extend .icon-hbl
// 	content "\e087"
// .icon-hbl-forrst:before
// 	@extend .icon-hbl
// 	content "\e088"
// .icon-hbl-dribbble:before
// 	@extend .icon-hbl
// 	content "\e089"
// .icon-hbl-github:before
// 	@extend .icon-hbl
// 	content "\e08a"
// .icon-hbl-github-2:before
// 	@extend .icon-hbl
// 	content "\e08b"
// .icon-hbl-github-3:before
// 	@extend .icon-hbl
// 	content "\e08c"
// .icon-hbl-github-4:before
// 	@extend .icon-hbl
// 	content "\e08d"
// .icon-hbl-github-5:before
// 	@extend .icon-hbl
// 	content "\e08e"
// .icon-hbl-git:before
// 	@extend .icon-hbl
// 	content "\e08f"
// .icon-hbl-wordpress:before
// 	@extend .icon-hbl
// 	content "\e090"
// .icon-hbl-blogger:before
// 	@extend .icon-hbl
// 	content "\e091"
// .icon-hbl-tumblr:before
// 	@extend .icon-hbl
// 	content "\e092"
// .icon-hbl-yahoo:before
// 	@extend .icon-hbl
// 	content "\e093"
// .icon-hbl-amazon:before
// 	@extend .icon-hbl
// 	content "\e094"
// .icon-hbl-apple:before
// 	@extend .icon-hbl
// 	content "\e095"
// .icon-hbl-android:before
// 	@extend .icon-hbl
// 	content "\e096"
// .icon-hbl-soundcloud:before
// 	@extend .icon-hbl
// 	content "\e097"
// .icon-hbl-lastfm:before
// 	@extend .icon-hbl
// 	content "\e098"
// .icon-hbl-delicious:before
// 	@extend .icon-hbl
// 	content "\e099"
// .icon-hbl-stumbleupon:before
// 	@extend .icon-hbl
// 	content "\e09a"
// .icon-hbl-twitter:before
// 	@extend .icon-hbl
// 	content "\e082"
// .icon-hbl-feed:before
// 	@extend .icon-hbl
// 	content "\e09b"
.icon-hbl-facebook:before
	@extend .icon-hbl
	content "\e09c"
.icon-hbl-facebook-2:before
	@extend .icon-hbl
	content "\e09d"
// .icon-hbl-google-plus:before
// 	@extend .icon-hbl
// 	content "\e09e"
// .icon-hbl-flickr:before
// 	@extend .icon-hbl
// 	content "\e051"
// .icon-hbl-vimeo:before
// 	@extend .icon-hbl
// 	content "\e09f"
// .icon-hbl-seven-segment-0:before
// 	@extend .icon-hbl
// 	content "\e0a0"
// .icon-hbl-seven-segment-1:before
// 	@extend .icon-hbl
// 	content "\e0a1"
// .icon-hbl-seven-segment-2:before
// 	@extend .icon-hbl
// 	content "\e0a2"
// .icon-hbl-seven-segment-3:before
// 	@extend .icon-hbl
// 	content "\e0a3"
// .icon-hbl-seven-segment-4:before
// 	@extend .icon-hbl
// 	content "\e0a4"
// .icon-hbl-seven-segment-5:before
// 	@extend .icon-hbl
// 	content "\e0a5"
// .icon-hbl-seven-segment-6:before
// 	@extend .icon-hbl
// 	content "\e0a6"
// .icon-hbl-seven-segment-7:before
// 	@extend .icon-hbl
// 	content "\e0a7"
// .icon-hbl-seven-segment-8:before
// 	@extend .icon-hbl
// 	content "\e0a8"
// .icon-hbl-seven-segment-9:before
// 	@extend .icon-hbl
// 	content "\e0a9"
// .icon-hbl-puzzle:before
// 	@extend .icon-hbl
// 	content "\e0c0"
// .icon-hbl-clipboard:before
// 	@extend .icon-hbl
// 	content "\e06d"
// .icon-hbl-arrow-overunder-2:before
// 	@extend .icon-hbl
// 	content "\e0c2"
// .icon-hbl-arrow-triangle-up:before
// 	@extend .icon-hbl
// 	content "\e0c3"
// .icon-hbl-arrow-triangle-right:before
// 	@extend .icon-hbl
// 	content "\e0c4"
.icon-hbl-arrow-triangle-down:before
	@extend .icon-hbl
	content "\e0c5"
// .icon-hbl-arrow-triangle-left:before
// 	@extend .icon-hbl
// 	content "\e0c6"
.icon-hbl-remove:before
	@extend .icon-hbl
	content "\55"
// .icon-hbl-drawer:before
// 	@extend .icon-hbl
// 	content "\e0d5"
// .icon-hbl-mouse:before
// 	@extend .icon-hbl
// 	content "\e0db"
// .icon-hbl-newspaper:before
// 	@extend .icon-hbl
// 	content "\e002"
// .icon-hbl-copy:before
// 	@extend .icon-hbl
// 	content "\e0b9"
// .icon-hbl-github-6:before
// 	@extend .icon-hbl
// 	content "\77"
// .icon-hbl-bluetooth:before
// 	@extend .icon-hbl
// 	content "\78"
// .icon-hbl-broadcast-2:before
// 	@extend .icon-hbl
// 	content "\79"
// .icon-hbl-diamonds:before
// 	@extend .icon-hbl
// 	content "\7a"
// .icon-hbl-clubs:before
// 	@extend .icon-hbl
// 	content "\e000"
// .icon-hbl-spades:before
// 	@extend .icon-hbl
// 	content "\e080"
// .icon-hbl-video:before
// 	@extend .icon-hbl
// 	content "\e086"
// .icon-hbl-play-2:before
// 	@extend .icon-hbl
// 	content "\e0bd"
// .icon-hbl-music:before
// 	@extend .icon-hbl
// 	content "\e0f0"
// .icon-hbl-music-2:before
// 	@extend .icon-hbl
// 	content "\e0f1"
// .icon-hbl-picture:before
// 	@extend .icon-hbl
// 	content "\e0f3"
// .icon-hbl-picture-2:before
// 	@extend .icon-hbl
// 	content "\e0f4"
// .icon-hbl-printer:before
// 	@extend .icon-hbl
// 	content "\e0b3"
.icon-hbl-basket:before
	@extend .icon-hbl
	content "\e0bf"
.icon-hbl-key:before
	@extend .icon-hbl
	content "\e0ad"
// .icon-hbl-lab:before
// 	@extend .icon-hbl
// 	content "\e0b1"
// .icon-hbl-dashboard:before
// 	@extend .icon-hbl
// 	content "\e0b0"
// .icon-hbl-meter-fast:before
// 	@extend .icon-hbl
// 	content "\e0af"
// .icon-hbl-meter-medium:before
// 	@extend .icon-hbl
// 	content "\e0ae"
// .icon-hbl-meter-slow:before
// 	@extend .icon-hbl
// 	content "\e001"
// .icon-hbl-rocket:before
// 	@extend .icon-hbl
// 	content "\e0ac"
// .icon-hbl-coffee:before
// 	@extend .icon-hbl
// 	content "\e06f"
// .icon-hbl-diamond:before
// 	@extend .icon-hbl
// 	content "\e0ab"
// .icon-hbl-people:before
// 	@extend .icon-hbl
// 	content "\e0b2"
// .icon-hbl-accessibility:before
// 	@extend .icon-hbl
// 	content "\e026"
// .icon-hbl-accessibility-2:before
// 	@extend .icon-hbl
// 	content "\e028"
// .icon-hbl-stretch:before
// 	@extend .icon-hbl
// 	content "\e0b5"
// .icon-hbl-group:before
// 	@extend .icon-hbl
// 	content "\e069"
// .icon-hbl-walk:before
// 	@extend .icon-hbl
// 	content "\e06a"
.icon-hbl-exercise:before
	@extend .icon-hbl
	content "\e027"
// .icon-hbl-swim:before
// 	@extend .icon-hbl
// 	content "\e077"
// .icon-hbl-bike:before
// 	@extend .icon-hbl
// 	content "\e0b4"
// .icon-hbl-stress-control:before
// 	@extend .icon-hbl
// 	content "\e0b6"
// .icon-hbl-superhero:before
// 	@extend .icon-hbl
// 	content "\e0b7"
// .icon-hbl-anaerobic:before
// 	@extend .icon-hbl
// 	content "\e0b8"
// .icon-hbl-water:before
// 	@extend .icon-hbl
// 	content "\e0ba"
// .icon-hbl-trophy:before
// 	@extend .icon-hbl
// 	content "\e0bb"
// .icon-hbl-stress:before
// 	@extend .icon-hbl
// 	content "\e0bc"
// .icon-hbl-weight:before
// 	@extend .icon-hbl
// 	content "\e0be"
// .icon-hbl-moon:before
// 	@extend .icon-hbl
// 	content "\e0c1"
// .icon-hbl-sad:before
// 	@extend .icon-hbl
// 	content "\e0c7"
// .icon-hbl-satisfied:before
// 	@extend .icon-hbl
// 	content "\e0c8"
// .icon-hbl-happy:before
// 	@extend .icon-hbl
// 	content "\e0cb"
// .icon-hbl-measure:before
// 	@extend .icon-hbl
// 	content "\e0cc"
// .icon-hbl-journal:before
// 	@extend .icon-hbl
// 	content "\e0cd"
.icon-hbl-grid:before
	@extend .icon-hbl
	content "\e0ce"
// .icon-hbl-list-thumb:before
// 	@extend .icon-hbl
// 	content "\e0cf"
// .icon-hbl-list:before
// 	@extend .icon-hbl
// 	content "\e0d1"
// .icon-hbl-blackberry:before
// 	@extend .icon-hbl
// 	content "\e0d2"
.icon-hbl-fire:before
	@extend .icon-hbl
	content "\e0d3"
// .icon-hbl-file-zip:before
// 	@extend .icon-hbl
// 	content "\e0d4"
// .icon-hbl-recipe:before
// 	@extend .icon-hbl
// 	content "\e0d6"
// .icon-hbl-apple-2:before
// 	@extend .icon-hbl
// 	content "\e0d7"
// .icon-hbl-carrot:before
// 	@extend .icon-hbl
// 	content "\e0d8"
// .icon-hbl-beans:before
// 	@extend .icon-hbl
// 	content "\e0d9"
// .icon-hbl-banana:before
// 	@extend .icon-hbl
// 	content "\e0da"
// .icon-hbl-grain:before
// 	@extend .icon-hbl
// 	content "\e0dc"
// .icon-hbl-steak:before
// 	@extend .icon-hbl
// 	content "\e0dd"
// .icon-hbl-filter:before
// 	@extend .icon-hbl
// 	content "\e0de"
// .icon-hbl-ampersand:before
// 	@extend .icon-hbl
// 	content "\e0df"
// .icon-hbl-target:before
// 	@extend .icon-hbl
// 	content "\e062"
// .icon-hbl-target-2:before
// 	@extend .icon-hbl
// 	content "\e0c9"
// .icon-hbl-energy:before
// 	@extend .icon-hbl
// 	content "\e0ca"
// .icon-hbl-willpower:before
// 	@extend .icon-hbl
// 	content "\e0e1"
// .icon-hbl-soccer:before
// 	@extend .icon-hbl
// 	content "\e0e2"
// .icon-hbl-export:before
// 	@extend .icon-hbl
// 	content "\e0e5"
// .icon-hbl-gift:before
// 	@extend .icon-hbl
// 	content "\e0e6"
// .icon-hbl-gift-2:before
// 	@extend .icon-hbl
// 	content "\e0e8"
// .icon-hbl-finger-tie:before
// 	@extend .icon-hbl
// 	content "\e0ea"
// .icon-hbl-beauty-products:before
// 	@extend .icon-hbl
// 	content "\e0ec"
.icon-hbl-utensils:before
	@extend .icon-hbl
	content "\e0f2"
// .icon-hbl-train:before
// 	@extend .icon-hbl
// 	content "\e0f6"
.icon-hbl-training:before
	@extend .icon-hbl
	content "\e0f7"
// .icon-hbl-passport:before
// 	@extend .icon-hbl
// 	content "\e0f8"
// .icon-hbl-sleep:before
// 	@extend .icon-hbl
// 	content "\e0f9"
// .icon-hbl-shoes:before
// 	@extend .icon-hbl
// 	content "\e0fb"
// .icon-hbl-plane-3:before
// 	@extend .icon-hbl
// 	content "\e0fc"
// .icon-hbl-plane-2:before
// 	@extend .icon-hbl
// 	content "\e0fd"
// .icon-hbl-plane-1:before
// 	@extend .icon-hbl
// 	content "\e0fe"
// .icon-hbl-luggage:before
// 	@extend .icon-hbl
// 	content "\e0ff"
// .icon-hbl-hotel:before
// 	@extend .icon-hbl
// 	content "\e100"
// .icon-hbl-car-3:before
// 	@extend .icon-hbl
// 	content "\e101"
// .icon-hbl-car-2:before
// 	@extend .icon-hbl
// 	content "\e102"
// .icon-hbl-car-1:before
// 	@extend .icon-hbl
// 	content "\e103"
// .icon-hbl-bus:before
// 	@extend .icon-hbl
// 	content "\e105"
.icon-hbl-loading:before
	@extend .icon-hbl
	content "\e117"
// .icon-hbl-up:before
// 	@extend .icon-hbl
// 	content "\e11f"
// .icon-hbl-up-circle:before
// 	@extend .icon-hbl
// 	content "\e120"
// .icon-hbl-right:before
// 	@extend .icon-hbl
// 	content "\e121"
// .icon-hbl-right-circle:before
// 	@extend .icon-hbl
// 	content "\e122"
// .icon-hbl-left:before
// 	@extend .icon-hbl
// 	content "\e129"
// .icon-hbl-left-circle:before
// 	@extend .icon-hbl
// 	content "\e12a"
// .icon-hbl-down:before
// 	@extend .icon-hbl
// 	content "\e12d"
// .icon-hbl-down-circle:before
// 	@extend .icon-hbl
// 	content "\e12e"
// .icon-hbl-dollar-sign:before
// 	@extend .icon-hbl
// 	content "\e12f"
// .icon-hbl-money:before
// 	@extend .icon-hbl
// 	content "\e132"
// .icon-hbl-coins:before
// 	@extend .icon-hbl
// 	content "\e133"
// .icon-hbl-dollars:before
// 	@extend .icon-hbl
// 	content "\e138"
// .icon-hbl-flag:before
// 	@extend .icon-hbl
// 	content "\e075"
// .icon-hbl-star-circle:before
// 	@extend .icon-hbl
// 	content "\e109"
.icon-hbl-square:before
	@extend .icon-hbl
	content "\e10a"
.icon-hbl-square-rounded:before
	@extend .icon-hbl
	content "\e10b"
// .icon-hbl-time:before
// 	@extend .icon-hbl
// 	content "\e01a"
// .icon-hbl-microphone:before
// 	@extend .icon-hbl
// 	content "\e01b"
// .icon-hbl-wallet:before
// 	@extend .icon-hbl
// 	content "\e01c"
// .icon-hbl-sitemap:before
// 	@extend .icon-hbl
// 	content "\e01d"
// .icon-hbl-downline-reports:before
// 	@extend .icon-hbl
// 	content "\e074"
// .icon-hbl-annoucments:before
// 	@extend .icon-hbl
// 	content "\e0d0"
// .icon-hbl-award-1:before
// 	@extend .icon-hbl
// 	content "\e0e0"
// .icon-hbl-award-2:before
// 	@extend .icon-hbl
// 	content "\e0e3"
.icon-hbl-cart:before
	@extend .icon-hbl
	content "\e0ed"
.icon-hbl-cart-confirmed:before
	@extend .icon-hbl
	content "\e0ee"
.icon-hbl-customer-orders:before
	@extend .icon-hbl
	content "\e13a"
.icon-hbl-order-history:before
	@extend .icon-hbl
	content "\e13b"
.icon-hbl-add-to-cart:before
	@extend .icon-hbl
	content "\e13c"
.icon-hbl-add-to-cart-2:before
	@extend .icon-hbl
	content "\e13d"
.icon-hbl-next-cart:before
	@extend .icon-hbl
	content "\e13f"
.icon-hbl-sale:before
	@extend .icon-hbl
	content "\e140"
.icon-hbl-tasks:before
	@extend .icon-hbl
	content "\e142"
// .icon-hbl-inbox:before
// 	@extend .icon-hbl
// 	content "\e143"
// .icon-hbl-file-cabinet:before
// 	@extend .icon-hbl
// 	content "\e144"
// .icon-hbl-sku:before
// 	@extend .icon-hbl
// 	content "\e145"
// .icon-hbl-business-tie:before
// 	@extend .icon-hbl
// 	content "\e146"
// .icon-hbl-handtruck:before
// 	@extend .icon-hbl
// 	content "\e147"
.icon-hbl-price-list:before
	@extend .icon-hbl
	content "\e148"
// .icon-hbl-catalog:before
// 	@extend .icon-hbl
// 	content "\e149"
// .icon-hbl-box:before
// 	@extend .icon-hbl
// 	content "\e14a"
// .icon-hbl-cart-refresh:before
// 	@extend .icon-hbl
// 	content "\e14b"
// .icon-hbl-resources-1:before
// 	@extend .icon-hbl
// 	content "\e14c"
// .icon-hbl-resources-2:before
// 	@extend .icon-hbl
// 	content "\e14d"
// .icon-hbl-computer:before
// 	@extend .icon-hbl
// 	content "\e14e"
// .icon-hbl-ticket:before
// 	@extend .icon-hbl
// 	content "\e14f"
// .icon-hbl-ticket-2:before
// 	@extend .icon-hbl
// 	content "\e150"
// .icon-hbl-flashlight:before
// 	@extend .icon-hbl
// 	content "\e029"
// .icon-hbl-wrench:before
// 	@extend .icon-hbl
// 	content "\e07c"
// .icon-hbl-document:before
// 	@extend .icon-hbl
// 	content "\e130"
// .icon-hbl-paper:before
// 	@extend .icon-hbl
// 	content "\e131"
// .icon-hbl-tshirt:before
// 	@extend .icon-hbl
// 	content "\e0eb"
