//////////////////////////////////////////
////// SIGNIN FORM //////////////////////
//////////////////////////////////////////
div.login
	display flex
	flex-direction column
	align-items center
	height 400px
	margin-top 65px
	@media $media-screen-min-tablet
		justify-content center


	h2
		font-size 1.5em
		@media $media-screen-min-tablet
			margin-top 0px

	form
		position relative
		display flex
		flex-direction column
		align-items center
		width 300px

		div
			position relative
			width 100%

			input
				text-align center
				width 100%
				margin 0px 0px 5px 0px
				&.error
					border 1px solid red


		button
			width 100%


	a
		text-align center
		font-size 0.7em
		width 300px
		margin-bottom 5px
		padding 3px
		border 1px solid $gray-light
		background-color $gray-lighter
		color $text-color

		&:hover
			border 1px solid $gray
			background-color $gray-light
			color $text-color

		&:last-child
			margin-bottom 0px

		span
			position relative
			top 2px
